@import "../../variaveis.scss";

.bloco-sites {

    display: flex;
    flex-direction: column;
    gap: 20px;
    width: 100%;

    .lista-sites {

        display: flex;
        flex-wrap: wrap;
        gap: 20px calc((100% - (5 * 260px)) / 4);
        padding: 0;

        //Layout do site atual
        .site {
            display: flex;
            gap: 20px;
            padding: 10px;
            border-radius: 10px;
            box-shadow: 0 0 15px rgba($preto, .2);
            width: 800px;
            max-width: 100%;

            .swiper {
                width: 100% !important;
                max-width: 300px !important;
                margin: 0;

                .swiper-slide {
                    width: 100% !important;
                    max-width: 300px !important;
                }

                .swiper-button-next, .swiper-button-prev {
                    &:after {
                        background-color: $cinzaClaro;
                        color: $verdePrincipal;
                        box-shadow: 0 0 15px rgba($preto, .2);
                        font-size: $fs14;
                        border-radius: 50%;
                        padding: 10px 12px;
                        font-weight: 800;
                    }
                }
            }

            .site-info {
                display: flex;
                flex-direction: column;
                justify-content: space-between;
                max-width: 100%;
                width: 100%;

                .nome {
                    font-size: $fs20;
                    font-weight: 700;
                }

                .valor {
                    // Add styles for .valor if needed
                }

                .ver-site {
                    background-color: $verdePrincipal;
                    color: $branco;
                    padding: 10px;
                    border-radius: 8px;
                    width: 100%;
                    text-align: center;
                    transition: .3s;
                    text-decoration: none;

                    &:hover {
                        transform: scale(1.05);
                    }
                }
            }
        }

        //Começa as páginas de instagram aqui
        .pagina{

            position: relative;
            flex: 1 1 250px;
            box-shadow: 0 0 15px rgba($preto, .2);
            padding: 10px;
            border-radius: 20px;
            display: flex;
            flex-direction: column;
            gap: 10px;
            align-items: center;
            width: 100%;
            max-width: 250px;
            transition: .3s;

            .foto-perfil{

                width: 180px;
                height: 180px;
                border-radius: 50%;
                bottom: 80%;
                //position: absolute;
            }

            .titulo-pagina{

                display: none;
                font-size: $fs16;
                font-weight: 700;
            }

            .usuario-instagram{

                font-size: $fs14;
                font-weight: 600;
                box-shadow: 0 0 10px 1px rgba($preto, .2);
                padding: 5px;
                border-radius: 5px;
                rotate: -3deg;
                position: relative;
                bottom: 30px;
                z-index: 100;
                background-color: $branco;
            }

            .biografia{

                text-align: center;
                font-size: $fs14;
                font-weight: 600;
            }

            .visitar-pagina{

                padding: 10px;
                background-color: $verdePrincipal;
                color: $branco;
            }

            &:hover{

                color: $preto;
                transform: scale(1.05);
                box-shadow: 0 0 5px 5px rgba($verdePrincipal, .2);
            }
        }
    }
}

@media only screen and (max-width: 768px) {
    .bloco-sites {
        width: 80vw;
    }
}

@media only screen and (max-width: 480px) {
    .bloco-sites {
        padding: 0 10px;

        .lista-sites {
            .site {
                flex-direction: column;
                align-items: center;
            }
        }
    }
}
