@import "../../variaveis.scss";

.bloco-produtos {
    display: flex;
    flex-direction: column;
    gap: 10px;
    width: 800px;
    max-width: 100%;

    .lista-produtos {
        display: flex;
        flex-wrap: wrap;
        gap: 20px calc((100% - (3 * 250px)) / 2);
        padding: 0;

        .produto {
            flex: 1 1 250px;
            max-width: 250px;
            box-sizing: border-box;
            display: flex;
            flex-direction: column;
            gap: 20px;
            padding: 10px;
            border-radius: 10px;
            box-shadow: 0 0 15px rgba($preto, .2);
            width: 100%;
            justify-content: space-between;

            .swiper {
                width: 100% !important;
                max-width: 250px !important;
                margin: 0;

                .swiper-slide {
                    width: 100% !important;
                    max-width: 250px !important;
                }

                .swiper-button-next, .swiper-button-prev {
                    &:after {
                        background-color: $roxoLink;
                        color: $branco;
                        font-size: $fs14;
                        border-radius: 50%;
                        padding: 10px 12px;
                    }
                }
            }

            .info {
                h3 {
                    font-size: $fs20;
                }

                .acoes {
                    display: flex;
                    flex-direction: column;
                    gap: 5px;

                    .btn-ver-fabricante, .btn-ver-produto, .btn-editar-produto {
                        color: $branco;
                        padding: 10px;
                        border-radius: 5px;
                        text-align: center;
                        cursor: pointer;
                        transition: .3s;

                        &:hover {
                            transform: scale(1.05);
                        }
                    }

                    .btn-ver-produto, .btn-ver-fabricante {
                        background-color: $verdePrincipal;
                    }

                    .btn-editar-produto {
                        background-color: $roxo;
                    }
                }
            }
        }
    }
}

@media only screen and (max-width: 1024px) {
    .bloco-produtos {

        width: 80vw;

        .lista-produtos {
            gap: 20px;

            .produto {
                flex: 1 1 calc(50% - 20px);
                max-width: calc(50% - 20px);
            }
        }
    }
}

@media only screen and (max-width: 768px) {
    .bloco-produtos {

        padding: 20px;

        .lista-produtos {
            gap: 20px;

            .produto {
                flex: 1 1 100%;
                max-width: 100%;
            }
        }
    }
}
