@import "../../variaveis.scss", "buscaProdutos", "buscaSite";

.bloco-pesquisa{

    width: 100%;
    padding: 50px 0;
    display: flex;
    justify-content: center;

    .mobileBusca{

        display: none;

        #pesquisa{

            background-color: $verdePrincipal;
            color: $branco;
            font-size: $fs14;
            padding: 10px;
            border-radius: 5px;
            transition: .3s;

            &:hover{

                transform: scale(1.05);
            }
        }
    }

    #formPesquisa{

        display: flex;
        flex-direction: column;
        width: 100%;
        max-width: 1000px;
        justify-content: center;
        gap: 15px;
        align-items: center;

        .linha{

            width: 100%;
            display: flex;
            gap: 40px;

            #mobileAviso{

                display: none;
                justify-content: center;
            }

            button{

                background-color: $verdePrincipal;
                fill: $branco;
                padding: 10px 20px;
                border-radius: 8px ;
                font-size: $fs20;
            }

            .grupo{

                width: 100%;
                display: flex;

                select{

                    color: $branco;
                    background-color: $verdePrincipal;
                    width: 100%;
                    border-radius: 10px;
                    font-size: $fs18;
                    height: 50px;
                    margin: 0;
                    padding-left: 1rem;
                    border: none;

                    option{

                        background-color: $branco;
                        color: $azulTable;
                        font-size: $fs14;
                        font-weight: 700;
                        padding: 10px;
                    }

                    &:focus{

                        outline: none;
                    }
                }

                input{

                    width: 100%;
                    border: 2px solid $cinzaBorda;
                    border-radius: 10px;
                    color: $cinzaInput;
                    font-size: $fs18;
                    height: 50px;
                    margin: 0;
                    padding-left: 1rem;

                    &:focus{

                        outline: none;
                    }
                }
            }

            .lg{

                max-width: 600px;
            }

            .md{

                max-width: 330px;
            }

            .sm{

                max-width: 160px;
            }
        }

    }
}

.resultados{

    display: flex;
    width: 80vw;
    justify-content: space-between;

    .bloco-mapa{

        width: 35vw;
        height: 100%;
        min-height: 500px;

        .mapa{

            width: 100%;
            height: 100%;
        }
    }
}

