@import "../../variaveis.scss";

.criar-produtos {
    display: flex;
    justify-content: center;
    width: 100vw;

    .formulario {
        box-shadow: -1px 0 7px 1px rgba(0, 0, 0, .3);
        padding: 40px 0;
        border-radius: 42px;
        display: flex;
        flex-direction: column;
        gap: 50px;
        width: 80vw;

        .etapa {

            .campos-formulario {
                display: flex;
                flex-direction: column;
                gap: 20px;
                padding: 25px;

                .linha {
                    display: flex;
                    flex-wrap: wrap;
                    gap: 20px;
                    align-items: flex-end;

                    .criar-categoria {
                        padding: 8px 24px;
                        background-color: $verdePrincipal;
                        color: $branco;
                        font-size: $fs14;
                        width: 100%;
                        max-width: 170px;
                        text-align: center;
                        border-radius: 0.3rem;
                        border: none;

                        &:hover {
                            background-color: $verdeLimao;
                        }
                    }

                    .grupo {
                        display: flex;
                        flex-direction: column;
                        gap: 10px;
                        flex: 1 1 calc(30% - 20px); // Preenche o máximo possível e mantém o espaço entre os grupos

                        .sub-grupo {
                            display: flex;

                            input {
                                width: 80%;
                                border-radius: 0.5rem 0 0 0.5rem;
                            }

                            select {
                                width: 20%;
                                border-radius: 0 0.5rem 0.5rem 0;
                            }
                        }

                        label {
                            font-size: $fs14;
                            font-weight: 600;
                            width: 100%;
                        }

                        input, select, textarea {
                            height: 40px;
                            border: 1.5px solid $cinza;
                            border-radius: 0.5rem;
                            width: 100%;
                            outline: none;
                        }
                    }
                }

                .botoes {
                    display: flex;
                    align-items: flex-end;
                    align-self: flex-end;
                    gap: 20px;

                    button {
                        padding: 8px 24px;
                        background-color: $verdePrincipal;
                        color: $branco;
                        font-size: $fs14;
                        width: 100%;
                        max-width: 170px;
                        text-align: center;
                        border-radius: 0.3rem;
                        border: none;

                        &:hover {
                            background-color: $verdeLimao;
                        }
                    }
                }
            }
        }
    }
}

@media only screen and (max-width: 1024px) {
    .criar-produtos {
        .formulario {
            width: 60vw;
        }
    }
}

@media only screen and (max-width: 768px) {
    .criar-produtos {
        .formulario {

            padding: 20px;

            .etapa {
                .campos-formulario {
                    padding: 15px;

                    .linha {
                        flex-direction: column;
                        align-items: stretch;

                        .grupo {
                            flex: 1 1 100%;
                        }
                    }

                    .botoes {
                        align-self: center;
                    }
                }
            }
        }
    }
}

@media only screen and (max-width: 480px) {
    .criar-produtos {
        .formulario {
            padding: 10px;

            .etapa {
                .campos-formulario {
                    padding: 10px;

                    .linha {
                        gap: 10px;

                        .grupo {
                            gap: 5px;

                            input, select, textarea {
                                height: 35px;
                            }
                        }
                    }

                    .botoes {
                        gap: 10px;

                        button {
                            padding: 6px 20px;
                            font-size: $fs12;
                        }
                    }
                }
            }
        }
    }
}
