@import "../../variaveis.scss";

.produtoPage{

    width: 100%;

    .breadcrumb{

        display: flex;
        flex-direction: column;
        gap: 20px;

        .bc{

            a{

                color: $preto;

            }
        }

        .siteInfo{

            display: flex;
            flex-direction: column;
            gap: 50px;

            .informationSite{

                display: flex;
                gap: 20px;
                align-items: center;

                .logo{

                    width: 250px;

                    img{

                        width: 100%;
                        height: 100%;
                        border-radius: 50%;
                        box-shadow: -1px 0 7px 1px rgba( $preto,.3);

                    }
                }

                .infoContents{

                    display: flex;
                    flex-direction: column;
                    gap: 25px;
                    width: 100%;

                    .siteInfo{

                        display: flex;
                        flex-direction: column;
                        gap: 15px;
                        align-items: flex-start;

                        h1{

                            font-size: $fs28;
                            font-weight: 600;
                            color: $preto;

                            .back{

                                position: relative ;
                                top: 0px;
                                left: 0px;
                                width: 20px;
                                padding: 5px ;
                            }
                        }

                        .description{

                            display: flex;
                            flex-direction: column;
                            gap: 5px;
                            color: $preto;

                            h3{

                                text-align: justify;
                                font-size: 20px;
                                font-weight: 500;

                            }

                            .desc{

                                text-align: justify;
                                font-size: 14px;
                                font-weight: 400;

                            }
                        }
                    }

                    .mobileInfo{

                        display: none;
                    }

                    #infoContato{

                        padding: 0;
                        display: flex;
                        justify-content: space-between;

                        li{

                            display: flex;
                            flex-direction: column;
                            gap: 5px;
                            justify-content: space-between;
                            width: 350px;
                            box-shadow: 6px 5px 19px -5px rgba(0,0,0,0.75);
                            border: 1px solid $cinzaClaro;
                            padding: 15px;
                            border-radius: 5px;
                            transition: .3s;

                            &:hover{

                                transform: scale(1.05);
                            }

                            .headInfo{

                                display: flex;
                                gap: 15px;
                                align-items: center;

                                img{
                                    width: 20px;
                                }

                                h4{

                                    font-size: $fs20;
                                    font-weight: 600;
                                }
                            }

                            .contentInfo{

                                display: flex;
                                flex-direction: column;
                                gap: 5px;

                                .valueContent{

                                    font-size: $fs12;
                                    font-weight: 400;
                                    color: $cinza;
                                }
                            }
                        }
                    }
                }
            }

        }
    }

    .container{

        .headerProduto{

            display: flex;
            align-items: center;
            gap: 100px;

            .images{

                width: 100%;
                max-width: 500px;
                display: flex;
                flex-direction: column;
                gap: 20px;

                .destaqueImg{

                    width: 450px;
                    height: 300px;
                    background-size: cover;
                    background-position: center;
                    background-repeat: no-repeat;
                    border-radius: 5px;
                }

                .galeria{

                    display: flex;
                    flex-wrap: wrap;
                    gap: 13px;
                    align-self: center;
                    width: 100%;

                    .imgGaleria{

                        width: 100px;
                        height: 100px;
                        background-color: $branco;
                        border-radius: 5px;
                        border: 1px solid $cinzaBorda;

                    }
                }
            }

            .infos{


                display: flex;
                flex-direction: column;
                gap: 20px;

                h1{

                    font-size: $fs44;
                    text-transform: capitalize;
                }

                .bloco-preco{

                    display: flex;
                    flex-direction: column;

                    .precos{

                        font-size: $fs36;
                        display: flex;
                        gap: 10px;

                        .preco{

                            display: flex;

                            strong{

                                display: flex;

                                .menor{

                                    font-size: $fs20;
                                    padding: 6px 0;

                                }
                            }
                        }
                    }
                }

                .verde{

                    text-decoration: none;
                    font-size: $fs30;
                    font-weight: 600;
                }

                .cred{

                    display: flex;
                    gap: 20px;
                    background-color: $cinzaClaro;

                    .value{

                        font-size: $fs14;
                        display: flex;
                        gap: 10px;
                    }
                }

                .desc{

                    font-size: $fs14;
                    text-align: justify;
                }

                .stars{

                    display: flex;
                    gap: 20px;

                    button{

                        background-color: $verdePrincipal;
                        width: 150px;
                        border-radius: 10px;
                        color: $branco;
                        font-size: $fs18;
                        font-weight: 700;
                    }

                    .div-stars {

                        display: inline-block;
                    }

                    input.star {

                        display: none;
                    }

                    label.star {

                        float: right;
                        padding: 10px;
                        font-size: 20px;
                        color: $starColor;
                        transition: all .2s;

                        &:before {

                            content: "\F006";
                            font-family: FontAwesome;
                        }

                        &:hover {

                            transform: rotate(-15deg) scale(1.3);
                        }
                    }

                    input.star:checked ~ label.star:before {

                        color: $selectedStarColor;
                        transition: all .25s;
                        content: "\F005";

                    }

                    input.star-5:checked ~ label.star:before {

                        color: $selectedStarColor;
                        text-shadow: 0 0 5px $shadowColor;
                        content: "\F005";

                    }

                    input.star-1:checked ~ label.star:before {

                        color: $selectedStarColor;
                        content: "\F005";
                    }
                }

                .addCote{

                    font-size: $fs18;
                    text-decoration: none;
                    border: 2px solid $verdePrincipal;
                    width: 100%;
                    max-width: 350px;
                    text-align: center;
                    padding: 15px 35px;
                    border-radius: 5px;
                    color: $verdePrincipal;
                    font-weight: 700;
                    transition: .3s;

                    svg{

                        fill: $verdePrincipal;
                        font-size: $fs20;
                        transition: .3s;

                    }

                    &:hover{

                        color: $branco;
                        background-color: $verdePrincipal;

                        svg{

                            fill: $branco;
                        }
                    }
                }
            }
        }

        .addInfo{

            width: 100%;
            display: flex;
            flex-direction: column;
            gap: 0px;

            .text{

                font-weight: 600;
                display: flex;
                width: 100%;
                border-bottom: 1px solid $cinza;

                hr{

                    transform: rotate(90deg);
                    width: 32px;

                }

                #info_add{

                    background-color: $verdePrincipal;
                    color: $branco;
                }

                a{

                    text-decoration: none;
                    color: $cinza;
                    font-size: $fs16;
                    padding: 10px;

                }
            }

            #information{

                text-align: justify;
                display: flex;
                font-size: $fs14;
                font-weight: 400;
                width: 100%;
                max-width: 100%;
                color: $cinza;
                padding: 20px 10px;
                background-color: $cinzaClaro;
                border: 1px solid $cinzaClaro;
            }

            #comentario{

                display: none;
                flex-direction: column;
                width: 100%;
                max-width: 600px;
                gap: 15px;

                .comentario{

                    display: flex;
                    flex-direction: column;

                    .info{

                        display: flex;
                        justify-content: space-between;
                        background-color: $verdeClaro;
                        padding: 10px;
                        border-radius: 5px 5px 0 0;

                        .value{

                            font-size: $fs16;
                            color: $cinza;
                            font-weight: 800;

                        }

                    }

                    .texto{

                        display: flex;
                        justify-content: space-between;
                        background-color: $cinzaClaro;
                        padding: 10px;
                        border-radius: 5px;
                        font-size: $fs14;
                        color: $cinza;
                        text-align: justify;
                    }
                }

                .grupo{

                    display: flex;
                    flex-direction: column;
                    gap: 10px;

                    button{

                        color: $verdePrincipal;
                        background-color: $branco;
                        font-size: $fs16;
                        border: 1px solid $verdePrincipal;
                        width: 250px;
                        text-align: center;
                        padding: 8px 25px;
                        border-radius: 5px;
                        transition: .3s;

                        &:hover{

                            color: $branco;
                            background-color: $verdePrincipal;

                        }

                    }

                    .comentario{

                        text-align: justify;
                    }

                    textarea{

                        border: 1px solid $cinzaBorda;
                        border-radius: 5px;
                        font-size: $fs16;
                        color: $cinza;
                        padding: 15px;

                        &:focus-visible{

                            outline: none;

                        }
                    }
                }
            }
        }

        .produtosRelacionados{

            display: flex;
            flex-direction: column;
            gap: 50px;
            width: 100%;
            max-width: 100%;

            h2{

                font-size: $fs20;
                font-weight: 600;

            }

            .maisProdutos{

                width: 100%;
                max-width: 100%;
                display: flex;
                padding: 0;
                gap: 7%;

                .produto{

                    width: 195px;
                    height: 300px;
                    border: 1px solid $cinzaBorda;
                    display: flex;
                    flex-direction: column;
                    justify-content: space-between;
                    padding: 20px 10px;
                    border-radius: 10px;
                    box-shadow: 8px 7px 7px -4px rgba( $preto ,.57);
                    align-items: center;
                    transition: .3s;

                    img{

                        width: 100%;
                        max-width: 100%;
                        height: 150px;

                    }

                    h3{

                        color: $preto;
                        font-size: $fs16;
                        font-weight: 600;
                        text-transform: capitalize;
                    }

                    a{

                        text-decoration: none;
                        font-size: $fs16;
                        font-weight: 700;
                        border-radius: 5px;
                        color: $branco;
                        background-color: $verdePrincipal;
                        padding: 2px 15px ;
                    }

                    &:hover{

                        transform: scale(1.05);
                    }
                }
            }
        }
    }
}

@media only screen and (max-width: 770px) {

    .produtoPage {

        .breadcrumb {

            display: flex;
            padding: 10px 0;
            flex-direction: column;
            gap: 20px;
            align-self: center;
            font-size: 12px;
            width: 100%;
            align-items: center;
            color: $branco;

            .bc{

                a{

                    color: $preto;

                }
            }

            .siteInfo{



                .informationSite{

                    display: flex;
                    gap: 20px;
                    align-items: center;
                    flex-direction: column;
                    padding-top: 50px;

                    .logo{

                        width: 250px;

                        img{

                            width: 100%;
                            height: 100%;

                        }
                    }

                    .infoContents{

                        align-items: center;

                        .siteInfo{

                            text-align: center;
                            width: 80%;
                            align-items: center;

                            h1{

                                font-size: $fs22;

                            }

                            .description{

                                display: flex;
                                flex-direction: column;
                                gap: 5px;

                                h3{

                                    font-size: $fs20;
                                    font-weight: 500;
                                    text-align: center;
                                }

                                .desc{

                                    font-size: $fs14;
                                    font-weight: 400;
                                    text-align: center;
                                }
                            }
                        }

                        .mobileInfo{

                            display: flex !important;
                            width: 100%;
                            max-width: 300px;
                            background-color: $verdePrincipal;
                            color: $branco;
                            padding: 10px;
                            justify-content: center;
                            border-radius: 10px;
                            text-decoration: none;
                        }

                        #infoContato{

                            display: none;
                            flex-direction: column;
                            position: absolute;
                            background-color:  rgba($preto, 0.5);
                            width: 100%;
                            height: 250%;
                            justify-content: center !important;
                            align-items: center;
                            visibility: visible;
                            backdrop-filter: blur(3px);
                            z-index: 15;
                            top: 0;
                            gap: 20px;
                            padding: 10px 0;

                            #close{
                                top: 40%;
                                left: 50%;
                            }

                            li{

                                background-color: $branco;
                                height: 100px;

                                .headInfo{

                                    display: flex;
                                    gap: 15px;
                                    align-items: center;
                                    align-self: center;
                                    width: 100%;
                                    justify-content: center;

                                    img{
                                        width: 20px;
                                    }

                                    h4{

                                        font-size: $fs20;
                                        font-weight: 600;
                                        color: $preto;
                                        width: 50%;
                                        text-align: end;

                                    }
                                }

                                .contentInfo{

                                    display: flex;
                                    flex-direction: column;
                                    gap: 5px;

                                    .valueContent{

                                        font-size: $fs12;
                                        font-weight: 400;
                                        color: $cinza;
                                        text-align: center;

                                    }
                                }
                            }
                        }
                    }
                }

                .profileInfos{

                    display: none !important;
                }
            }
        }

        .headerProduto {

            flex-direction: column;

            .images {

                width: 100%;
                max-width: 80% !important;
                display: flex;
                flex-direction: column;
                gap: 20px;

                .destaqueImg {

                    width: 100%;
                    max-width: 100%;
                }

                .galeria {

                    display: flex;
                    gap: 35px;
                    align-self: center;

                    .imgGaleria {

                        width: 65px;
                        background-color: $cinzaCards;
                        padding: 0;
                        border-radius: 5px;
                        border: 1px solid $cinzaBorda;

                    }
                }
            }

            .infos {

                gap: 20px;
                width: 100%;
                max-width: 80%;

                h1 {

                    font-size: $fs22;
                }

                .verde {

                    font-size: $fs16;
                }

                .cred {

                    display: flex;
                    flex-direction: column;

                    .value {

                        font-size: $fs12;
                        display: flex;
                        gap: 10px;
                    }
                }

                .desc {

                    font-size: $fs12;
                }

                .stars {

                    flex-direction: column;
                    align-self: flex-start;

                    .star {

                        font-size: $fs14 !important;
                    }

                    button {

                        width: 100%;
                        font-size: $fs16 !important;
                    }
                }

                .addCote {

                    max-width: 100% !important;
                    font-size: $fs18;

                }
            }
        }

        .addInfo {

            max-width: 80%;
            align-self: center;

            .text {

                justify-content: center;

                a {

                    font-size: $fs14 !important;
                    display: flex;
                    align-items: center;
                }
            }

            #information {

                text-align: justify;
                display: flex;
                font-size: $fs14;
                font-weight: 400;
                width: 100%;
                max-width: 100%;
                color: $cinza;

            }

            #comentario {


                .grupo {

                    button {

                        width: 100% !important;
                    }
                }
            }
        }

        .produtosRelacionados {

            max-width: 100%;
            align-self: center;

            h2 {

                text-align: center;

            }

            .maisProdutos {

                justify-content: flex-start;
                gap: 30px;
                max-width: 80% !important;
                width: 100%;
                display: flex;
                align-self: center;
                padding: 0;
                overflow: scroll;

                .produto{

                    width: 195px;
                    height: 300px;
                    border: 1px solid $cinzaBorda;
                    display: flex;
                    flex-direction: column;
                    justify-content: space-between;
                    padding: 40px 10px;;
                    border-radius: 10px;
                    box-shadow: 8px 7px 7px -4px rgba( $preto ,.57);
                    align-items: center;
                    transition: .3s;

                    img{

                        width: 100%;
                        max-width: 100%;
                        height: 150px;

                    }

                    h3{

                        color: $verdePrincipal;
                        font-size: $fs16;
                        font-weight: 600;
                        text-transform: capitalize;
                    }

                    a{

                        text-decoration: none;
                        font-size: $fs16;
                        font-weight: 700;
                        border-radius: 5px;
                        color: $branco;
                        background-color: $verdePrincipal;
                        padding: 2px 15px ;
                    }

                    &:hover{

                        transform: scale(1.05);
                    }
                }

            }
        }
    }
}

