@import "variaveis", "pages/meu-site/meu-site","animacoes-gerais", "pages/gerais/home", "pages/acessos/login","components/footer","components/header"
,"pages/cadastro/finalizarCadastro","pages/gerais/funcionalidades","pages/gerais/planos","pages/gerais/ajuda","pages/gerais/contato"
,"components/font","pages/painel/dadosCadastrais","pages/produtos/criarprodutos","pages/categorias/criarcategoria"
,"pages/categorias/listarCategoria" ,"pages/produtos/listarProdutos","pages/gerais/buscaGeral","pages/painel/meuSite"
,"pages/site/sitePage","pages/categorias/categoriaPage","pages/produtos/editarProduto","pages/site/buscaMeusite" ,"pages/painel/minhasCompras"
,"pages/produtos/productPage","pages/cotacao/cotacao" ,"pages/cotacao/listaOrcamentos","pages/cotacao/solicitarOrcamentos"
,"pages/cotacao/listarOrcamentos" , "pages/cotacao/cotacaoPage" ,"pages/painel/meuPlano" , "pages/painel/painel", "pages/painel/configuracoes"
,"pages/gerais/checkout","components/contatoFooter", "pages/gerais/termosUso", "pages/gerais/sucesso","pages/gerais/erros","pages/painel/controleGeral"
,"pages/painel/suporte", "components/sidebar","pages/painel/rootDados","pages/painel/notificacoes","pages/painel/visualizacoes","pages/acessos/verificarEmail","pages/painel/chamado";

@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&family=Sora:wght@100..800&display=swap');

// estilos gerais

*{

    padding: 0;
    margin: 0;
    font-family: "Sora", sans-serif !important;
}

body{

    width: 100%;
    position: absolute;
    min-height: 100vh;
    display: block;
    gap: 10px;
    overflow-x: hidden;
}

main{

    display: flex !important;
    width: 100vw;
    height: 100vh;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.main-painel{

    align-items: flex-end;
}

li{

    list-style-type: none;
}

a{

    cursor: pointer !important;
}

//classes gerais

.lista-vazia{

    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;

    img{

        width: 100%;
        max-width: 120px;
    }

    h1{

        font-size: $fs40;
        color: $cinzaBorda;
        font-weight: 700;
    }

    span{

        font-size: $fs20;
        color: $cinzaBorda;
        font-weight: 600;

        a{
            font-size: $fs20;
            color: $cinzaBorda;
            font-weight: 600;
        }
    }
}

.back{

    position: absolute;
    background-color: $verdePrincipal;
    color: $branco;
    top: 10%;
    left: 220px;
    padding: 5px 10px;
    border-radius: 5px;
    text-decoration: none;
    font-size: $fs22;
    font-weight: 700;
    z-index: 10;
    transition: .3s;

    &:hover{

        transform: scale(1.05);
    }
}

.verde{

    color: $verdePrincipal !important;
    text-decoration: underline;
}

.roxo{

    color: $roxoLink !important;
    text-decoration: underline;
}

.tooltip-icon{

    background-color: $verdePrincipal;
    color: $branco;
    font-size: 18px;
    padding: 2px 12px;
    border-radius: 50%;
}

#indicador-carregamento{

    position: fixed;
    background-color: rgba($preto, 0.6);
    width: 100vw;
    height: 100vh;
    top: 0;
    left: 0;
    display: none;

    .bloco-carregamento{

        width: 100%;
        height: 100%;
        align-items: center;
        justify-content: center;
        flex-direction: column;
        display: flex;

        p{

            color: $branco;
            font-size: $fs26;
            font-weight: 700;
        }
    }
}

.bloco-pagina{

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    max-width: 80%;
    padding: 20px 0;
}

.msg{

    background-color: $verdePrincipal;
    color: $branco;
    padding: 10px;
    width: 100%;
    max-width: 400px;
    text-align: center;
    text-decoration: underline;
    font-weight: 700;
    font-size: $fs16;
    animation: fadeIn 5s ;
    opacity: 0;
}

.erro{

    background-color: $vermelhoEscuro;
    color: $branco;
    display: flex;
    position: absolute;
    padding: 10px;
    width: 100%;
    max-width: 700px;
    text-align: center;
    font-weight: 700;
    font-size: $fs16;
    animation: fadeIn 5s ;
    opacity: 0;
    align-items: center;
    text-decoration: none;
    top: 35%;
    gap: 10px;

    .erroAviso{

        width: 50%;
    }

    .erroMensagem{

        width: 50%;
        padding: 0;
    }

}

h1,h2,h3,h4,p,ul,li{

    padding: 0;
    margin: 0 !important;
}

input{

    &:focus-visible,&:focus{

        outline: none;
    }
}

#register{

    display: none;
    position: absolute;
    background-color:  rgba(0, 0, 0, 0.5);
    width: 100%;
    height: 100%;
    justify-content: center;
    align-items: center;
    visibility: visible;
    backdrop-filter: blur(3px);
    z-index: 10;
    top: 0;
    left: 0;

    .close-icon{

        position: absolute;
        top: 20.4%;
        left: 76%;
        align-items: center;
        background-color: $branco;
        border-radius: 7px;
        box-shadow: 0 0 15px rgba(0,0,0,.2);
        display: flex;
        height: 30px;
        color: $cinza;
        justify-content: center;
        transition: .1s;
        padding: 5px;
        width: 30px;

        &:hover{

            transform: scale(1.15);
        }
    }

    .content-register{

        width: 100%;
        max-width: 1050px;
        display: flex;
        background-color: $branco;
        border-radius: 5rem 2rem 2rem 2rem;

        .banner{

            background-color: $verdePrincipal;
            display: flex;
            flex-direction: column;
            width: 100%;
            max-width: 35%;
            padding: 5rem 2rem;
            border-radius: 5rem 2rem 2rem 2rem;
            justify-content: center;
            height: 550px;
            gap: 5px;

            h1{

                font-size: $fs35;
                font-weight: 700;
                text-align: left;
            }

            .white{

                text-decoration: underline;
                color: $branco;
            }

            span{

                font-size: $fs16;
                color: $branco;
                font-weight: 600;
                text-align: justify;
                width: 90%;
            }

        }

        .formulario-registro{

            width: 100%;
            max-width: 65%;
            display: flex;
            flex-direction: column;
            justify-content: space-evenly;
            align-items: center;

            .form-content{

                display: flex;
                flex-direction: column;
                align-items: center;
                width: 100%;
                max-width: 70%;
                gap: 10px;

                .form-header{

                    text-align: center;
                    font-size:  $fs30;
                    font-weight: 700;
                }

                .linha{

                    width: 90%;

                    .group{


                        width: 48%;
                        padding: 0;
                    }

                }

                .group{

                    display: flex;
                    flex-direction: column;
                    width: 90%;

                    label{

                        font-size: $fs16;
                        font-weight: 600;
                        color: $preto;
                    }

                    input{

                        border: 2px solid $cinza !important;
                        border-radius: 0.5rem;
                        height: 40px!important;
                        padding: 0 8px;
                    }
                }

                .form-footer{

                    width: 90%;
                    display: flex;
                    flex-direction: column;
                    gap: 5px;

                    .btnRegister{

                        border-radius: 0.75rem!important;
                        color: $branco;
                        background-color: $verdePrincipal;
                        width: 100%;
                        border: none;
                        padding: 0.5rem 1rem;
                        font-size: $fs18;
                        font-weight: 600;

                        &:hover{

                            background-color: $verdeLimao;
                        }
                    }

                    span{

                        color: $preto;

                        a{

                            color: $preto;
                            font-weight: 700;
                        }
                    }
                }
            }
        }
    }
}

#close{

    display: none;
    background-color: $branco;
    width: 25px;
    height: 25px;
    border-radius: 5px;
    padding: 5px;
    position: absolute;
    top: 25px;
    left: 25px;

}

@media only screen and (max-width: 768px) {

    .back{

        top: 100px;
        left: 20px;

    }

    .bloco-pagina{

        max-width: 80vw;
    }

    .error{

        flex-direction: column;
        z-index: 10;

    }

    .hiddenMobile{

        display: none;
    }

    .hidden-desk{

        display: flex;
    }

    .listaVazia{

        text-align: center;

        h1{

            font-size: $fs26;
            text-align: center;

        }

        span{

            font-size: $fs18;
            text-align: center;

        }
    }


    .container{

        padding: 0 !important;
    }
}

