@import "../../variaveis.scss";

.voltar {

    background-color: $verdePrincipal;
    color: $branco;
    align-self: flex-start;
    padding: 5px 10px;
    border-radius: 5px;
    text-decoration: none;
    font-size: $fs20;
    font-weight: 700;
    z-index: 10;
    transition: .3s;
    position: sticky;
    top: 15vh;
    left: 10vw;
    height: 5vh;
    align-content: center;

    &:hover {
        transform: scale(1.05);
    }

    @media (max-width: 768px) {

        position: relative;
        width: 70vw;
        text-align: center;
        align-self: center;
        font-size: $fs16;
        top: 10vh;
        left: 0;
    }
}

.login {
    width: 100%;
    height: 100vh;
    display: flex;
    margin-top: -5vh;

    .login-content {
        width: 100%;
        max-width: 50%;
        display: flex;
        justify-content: center;
        flex-direction: column;
        left: 10vw;
        position: sticky;

        @media (max-width: 768px) {
            max-width: 70%;
            left: 5vw;
        }

        @media (max-width: 480px) {
            max-width: 90%;
            left: 2vw;
        }

        .formulario-login {
            width: 100%;
            max-width: 520px;
            display: flex;
            justify-content: center;
            flex-direction: column;
            align-items: center;
            gap: 20px;
            padding: 20px;
            border-radius: 0.5rem;
            box-shadow: 5px 5px 5px 3px rgba($cinzaEscuro, 0.7);

            .cabecalho {
                width: 100%;

                h1 {
                    font-size: $fs48;
                    font-weight: 700;
                    text-align: left;
                    max-width: 75%;

                    @media (max-width: 768px) {
                        font-size: $fs36;
                    }

                    @media (max-width: 480px) {
                        font-size: $fs24;
                    }
                }

                span {
                    font-weight: 500;
                    text-align: left;
                    color: $cinza;
                    font-size: $fs24;

                    @media (max-width: 768px) {
                        font-size: $fs18;
                    }

                    @media (max-width: 480px) {
                        font-size: $fs14;
                    }
                }
            }

            .grupo {
                display: flex;
                flex-direction: column;
                width: 100%;
                max-width: 100%;
                gap: 5px;

                a {
                    font-weight: 700;
                    text-align: right;
                    text-decoration: none;
                    color: $preto;
                }

                label {
                    font-size: $fs16;
                    font-weight: 700;
                }

                input {
                    border: 2px solid $cinza !important;
                    border-radius: 0.5rem;
                    height: 45px !important;
                    padding: 0 8px;
                }
            }

            .rodape-formulario {
                display: flex;
                flex-direction: column;
                gap: 10px;
                width: 100%;
                text-align: center;

                .botao-login {
                    border-radius: 0.5rem;
                    color: $verdePrincipal;
                    border: 1px solid $verdePrincipal;
                    background-color: $branco;
                    width: 100%;
                    padding: 0.5rem 1rem;
                    font-size: $fs18;
                    font-weight: 600;
                    transition: .3s;

                    &:hover {
                        color: $branco;
                        background-color: $verdePrincipal;
                    }
                }

                span {
                    color: $preto;
                    font-size: $fs16;
                    font-weight: 400;

                    a {
                        color: $preto;
                        font-weight: 500;
                    }
                }
            }
        }
    }

    .login-background {
        width: 100%;
        max-width: 50%;

        @media (max-width: 768px) {
            display: none;
        }
    }

    @media (max-width: 768px) {
        justify-content: center;
    }
}

#registrar {

    display: none;
    position: absolute;
    background-color: rgba(0, 0, 0, 0.5);
    width: 100%;
    height: 100%;
    justify-content: center;
    align-items: center;
    visibility: visible;
    backdrop-filter: blur(3px);
    top: 0;
    z-index: 20;

    .close-icon {
        position: absolute;
        top: 20.4%;
        left: 76%;
        align-items: center;
        background-color: $branco;
        border-radius: 7px;
        box-shadow: 0 0 15px rgba(0, 0, 0, .2);
        display: flex;
        height: 30px;
        color: $cinza;
        justify-content: center;
        transition: .1s;
        padding: 5px;
        width: 30px;

        &:hover {
            transform: scale(1.15);
        }
    }

    .bloco-registro {

        width: 100%;
        display: flex;
        background-color: $branco;
        border-radius: 5rem 2rem 2rem 2rem;
        max-width: 55vw;

        .banner {

            background-color: $verdePrincipal;
            display: flex;
            flex-direction: column;
            width: 100%;
            max-width: 35%;
            padding: 5rem 2rem;
            border-radius: 5rem 2rem 2rem 2rem;
            justify-content: center;
            height: 550px;
            gap: 5px;

            h1 {
                font-size: $fs35;
                font-weight: 700;
                text-align: left;
            }

            .white {
                text-decoration: underline;
                color: $branco;
            }

            span {
                font-size: $fs16;
                color: $branco;
                font-weight: 600;
                text-align: justify;
                width: 90%;
            }

            @media (max-width: 768px) {
                display: none;
            }
        }

        .formulario-registro {

            width: 100%;
            max-width: 65%;
            display: flex;
            flex-direction: column;
            justify-content: space-evenly;
            align-items: center;

            .cabecalho {
                text-align: center;
                font-size: $fs30;
                font-weight: 700;
            }

            .grupo {
                display: flex;
                flex-direction: column;
                width: 90%;

                label {
                    font-size: $fs16;
                    font-weight: 600;
                    color: $preto;
                }

                input {
                    border: 2px solid $cinza !important;
                    border-radius: 0.5rem;
                    height: 40px !important;
                    padding: 0 8px;
                }
            }

            .rodape-formulario{

                width: 90%;
                display: flex;
                flex-direction: column;
                gap: 5px;

                .btn-register {
                    border-radius: 0.75rem !important;
                    color: $branco;
                    background-color: $verdePrincipal;
                    width: 100%;
                    border: none;
                    padding: 0.5rem 1rem;
                    font-size: $fs18;
                    font-weight: 600;

                    &:hover {
                        background-color: $verdeLimao;
                    }
                }

                span {
                    color: $preto;

                    a {
                        color: $preto;
                        font-weight: 700;
                    }
                }

                @media (max-width: 768px) {

                    text-align: center;
                }
            }

            @media (max-width: 768px) {

                max-width: 100%;
                gap: 20px;
            }
        }

        @media (max-width: 768px) {

            width: 80vw;
            padding: 10px;
            border-radius: 10px;
        }
    }
}

.esqueceu-senha {

    width: 100vw;
    height: 100vh;
    display: flex;

    @media (max-width: 768px) {

        max-width: 80vw;
        left: 0;
    }

    .conteudo-esqueceu {

        width: 100%;
        max-width: 50%;
        display: flex;
        justify-content: center;
        flex-direction: column;

        @media (max-width: 768px) {
            max-width: 100%;
            left: 5vw;
        }

        .form-esqueceu-senha {
            width: 100%;
            max-width: 70%;
            display: flex;
            justify-content: center;
            flex-direction: column;
            align-items: center;
            gap: 20px;
            padding: 10px 50px;
            background-color: $cinzaClaro;
            box-shadow: 5px 5px 5px 3px rgba($cinzaEscuro, 0.7);
            position: relative;
            left: 10vw;

            .bloco {
                display: flex;
                flex-direction: column;
                width: 100%;
                max-width: 100%;
                gap: 5px;

                h1 {
                    color: $verdePrincipal;
                    font-weight: 700;
                }

                a {
                    font-weight: 700;
                    text-align: right;
                    text-decoration: none;
                    color: $preto;
                }

                label {
                    font-size: $fs16;
                    font-weight: 700;
                }

                input {
                    border: 2px solid $cinza !important;
                    border-radius: 0.5rem;
                    height: 45px !important;
                    padding: 0 8px;
                }
            }

            .btn-esqueci {
                border-radius: 0.75rem !important;
                color: $branco;
                background-color: $verdePrincipal;
                width: 100%;
                border: none;
                padding: 0.5rem 1rem;
                font-size: $fs18;
                font-weight: 600;

                &:hover {
                    background-color: $verdeLimao;
                }
            }

            @media (max-width: 768px) {

                max-width: 100%;
                left: 0;
            }
        }
    }

    .login-background {
        width: 100%;
        max-width: 50%;

        @media (max-width: 768px) {
            display: none;
        }
    }

    @media (max-width: 768px) {
        justify-content: center;
    }
}
