@import "../../variaveis.scss";

.cotacaoPage{

    .container{

        display: flex;
        justify-content: center;
        width: 100%;

        .formulario{

            box-shadow: -1px 0 7px 1px rgba(0,0,0,.3);
            border-radius: 20px;
            width: 100%;
            max-width: 60%;
            display: flex;
            flex-direction: column;
            align-items: center;
            gap: 10px;
            padding: 10px 0;


            h3{

                text-align: center;
                border-bottom: 1px solid $cinzaBorda;
                padding: 10px;
                width: 100%;


            }

            .info{

                display: flex;
                justify-content: space-evenly;
                width: 100%;

                img{

                    width: 250px;
                    height: 250px;
                }


                ul{

                    padding: 0;
                    width: 100%;
                    max-width: 50%;
                    display: flex;
                    flex-direction: column;
                    justify-content: space-evenly;


                    li{

                        display: flex;
                        justify-content: space-between;

                        .label{

                            width: 100%;
                            max-width: 50%;
                            background-color: $cinzaBorda;
                            border: 1px solid $cinzaBorda;
                            padding: 5px;
                            border-radius: 5px 0 0 5px;
                        }

                        .value{

                            width: 100%;
                            max-width: 50%;
                            padding: 5px;
                            text-align: center;
                            background-color: $verdeClaro;
                            border-radius: 0 5px 5px 0;

                        }

                    }
                }

            }

            .group{

                display: flex;
                flex-direction: column;
                width: 100%;
                max-width: 90%;

                input, textarea{

                    padding: 5px;
                    border: 1px solid $cinzaBorda;
                    border-radius: 5px;

                    &:focus{

                        outline: none;
                    }
                }
            }

            .btnSimples{

                background-color: $verdePrincipal;
                padding: 10px 35px;
                color: $branco;
                font-weight: 600;
                border-radius: 10px;

                &:hover{

                    transform: scale(1.05);
                    background-color: $verdeLimao;

                }
            }
        }
    }

}

