@import "../../variaveis.scss";

.bloco-pesquisa{

    background-color: $cinzaCards;
    width: 100%;
    padding: 50px 0;
    display: flex;
    justify-content: center;

    .mobileBusca{

        display: none;

        #pesquisa{

            background-color: $verdePrincipal;
            color: $branco;
            font-size: $fs14;
            padding: 10px;
            border-radius: 5px;
            transition: .3s;

            &:hover{

                transform: scale(1.05);
            }
        }
    }

    #formPesquisa{

        display: flex;
        flex-direction: column;
        width: 100%;
        max-width: 1000px;
        justify-content: center;
        gap: 15px;
        align-items: center;

        .linha{

            width: 100%;
            display: flex;
            gap: 40px;

            #mobileAviso{

                display: none;
                justify-content: center;
            }

            button{

                background-color: $verdePrincipal;
                fill: $branco;
                padding: 10px 20px;
                border-radius: 8px ;
                font-size: $fs20;
            }

            .grupo{

                width: 100%;
                display: flex;

                select{

                    color: $branco;
                    background-color: $verdePrincipal;
                    width: 100%;
                    border-radius: 10px;
                    font-size: $fs18;
                    height: 50px;
                    margin: 0;
                    padding-left: 1rem;
                    border: none;

                    option{

                        background-color: $branco;
                        color: $azulTable;
                        font-size: $fs14;
                        font-weight: 700;
                        padding: 10px;
                    }

                    &:focus{

                        outline: none;
                    }
                }

                input{

                    width: 100%;
                    border: 2px solid $cinzaBorda;
                    border-radius: 10px;
                    color: $cinzaInput;
                    font-size: $fs18;
                    height: 50px;
                    margin: 0;
                    padding-left: 1rem;

                    &:focus{

                        outline: none;
                    }
                }
            }

            .lg{

                max-width: 600px;
            }

            .md{

                max-width: 330px;
            }

            .sm{

                max-width: 160px;
            }
        }

    }
}

.resultados{

    display: flex;
    padding: 10px 0;
    width: 100%;

    .resultados-pesquisa{

        width: 100%;
        max-width: 60%;
        padding: 20px 40px;
        gap: 30px;
        display: flex;
        flex-direction: column;
        height: 680px;
        overflow: auto;

        .breadcrumb{

            display: flex;
            flex-direction: column;
            gap: 20px;

            .bc{

                a{

                    color: $preto;

                }
            }
        }

        .lista-resultados{

            display: flex;
            flex-direction: column;
            gap: 20px;
            padding: 0;

            .produto{

                display: flex;
                align-items: center;
                gap: 25px;
                box-shadow: 0 7px 7px -4px rgba($preto,.57);
                padding: 5px 16px;
                border-radius: 26px;
                transition: .3s;
                width: 100%;
                min-height: 270px;
                max-width: 700px;

                .info{

                    width: 100%;
                    max-width: 1000px;
                    gap: 5px;
                    display: flex;
                    flex-direction: column;

                    .produtoHeader{

                        display: flex;
                        flex-direction: column;
                        gap: 6px;

                        h3{

                            font-size: $fs16 ;
                            font-weight: 600;
                            color: $preto;
                            text-transform: uppercase;
                        }

                        .codes{

                            display: flex;
                            width: 100%;
                            gap: 10px;

                            .sku{

                                font-size: $fs12;
                                font-weight: 400;
                                color: $preto;
                                width: 100%;

                            }
                        }
                    }

                    .produtoInfo{

                        display: flex;
                        flex-direction: column;
                        gap: 5px;
                        font-size: $fs12;
                        font-weight: 400;
                        color: $cinza;

                        strong{

                            color: $preto;
                        }
                    }

                    .actions{

                        display: flex;
                        gap: 10px;
                        width: 100%;
                        justify-content: space-between;
                        flex-wrap: wrap;

                        .full{

                            width: 100%;

                        }

                        .half{

                            width: 48%;

                        }

                        .seeProduct{

                            color: $branco;
                            background-color: $azulBebe;
                            text-decoration: none;
                            padding: 12px 16px;
                            font-size: $fs12;
                            transition: .3s;
                            text-align: center;
                            border-radius: 3px;
                            border: 1px solid $azulBebe;

                            &:hover{

                                background-color: $azulBebehover;

                            }

                        }

                        .addCote{

                            background-color: $branco;
                            border: 1px solid $verdePrincipal;
                            color: $verdePrincipal;
                            font-size: $fs12;
                            transition: .3s;
                            text-decoration: none;
                            text-align: center;
                            padding: 12px 16px;
                            border-radius: 3px;

                            &:hover{

                                background-color: $verdePrincipal;
                                color: $branco;
                            }

                        }

                        .verFabricante{

                            background-color: $branco;
                            border: 1px solid $verdePrincipal;
                            color: $verdePrincipal;
                            font-size: $fs12;
                            transition: .3s;
                            text-decoration: none;
                            text-align: center;
                            padding: 12px 16px;
                            width: 100%;
                            border-radius: 3px;

                            &:hover{

                                background-color: $verdePrincipal;
                                color: $branco;
                            }

                        }

                    }
                }

                .thumbnail{

                    width: 400px;
                    height: 180px;
                    background-position: center;
                    background-size: cover;
                    background-repeat: no-repeat;
                    border-radius: 5px;

                }

                &:hover{

                    border: 1px solid $verdePrincipal;
                }

            }

            .site{

                display: flex;
                flex-direction: column;
                align-items: flex-start;
                box-shadow: 0 7px 7px -4px rgba($preto,.57);
                border-radius: 26px;
                transition: .3s;
                width: 100%;
                padding: 5px 16px;
                height: 280px;
                max-width: 700px;
                justify-content: center;

                .siteHeader{

                    h3{

                        font-size: $fs16;
                        font-weight: 600;
                        color: $preto;
                        text-transform: uppercase;
                    }

                }

                .info{

                    width: 100%;
                    max-width: 800px;
                    gap: 5px;
                    display: flex;
                    justify-content: space-between;

                    .imgDestaque{

                        display: flex;
                        width: 50%;
                        justify-content: center;
                        gap: 15px;

                        .imagensProdutos{

                            display: flex;
                            gap: 150px;
                            justify-content: space-between;
                            padding: 0;
                            width: 150px;
                            overflow: hidden;

                            /**
                            flex-direction: column;
                            text-align: center;
                            gap: 20px;
                            width: 100%;
                            max-width: 300px;
                            justify-content: center;
                            height: 100%;
                            */

                            .thumbnail{

                                width: 150px;
                                height: 150px;
                                background-position: center;
                                background-size: cover;
                                background-repeat: no-repeat;

                            }

                        }

                        .pre-btn, .nxt-btn{

                            img{
                                height: 30px;
                            }
                        }

                        .slide{

                            display: flex;
                            gap: 28px;
                            justify-content: space-between;
                            overflow-x: hidden;
                            scroll-behavior: smooth;
                            align-items: center;

                            .bloco-img{

                                width: 200px;
                                height: 200px;
                                display: flex;
                                flex-direction: column;
                                background-color: $branco;
                                align-items: center;
                                justify-content: space-between;

                                .thumbnail{

                                    width: 200px;
                                    height: 200px;
                                    background-size: cover;
                                    background-position: center;
                                    background-repeat: no-repeat;

                                }
                            }
                        }

                    }

                    .siteInfo{

                        display: flex;
                        flex-direction: column;
                        gap: 5px;
                        font-size: $fs16;
                        font-weight: 400;
                        color: $cinza;
                        justify-content: space-between;
                        width: 100%;
                        max-width: 320px;

                        strong{

                            color: $preto;
                        }

                    }

                    .actions{

                        display: flex;
                        gap: 10px;
                        width: 100%;

                        .half{

                            width: 100%;

                        }

                        .seeProduct{

                            color: $branco;
                            background-color: $azulBebe;
                            text-decoration: none;
                            padding: 12px 16px;
                            font-size: $fs12;
                            transition: .3s;
                            width: 100%;
                            text-align: center;
                            border-radius: 3px;

                            &:hover{

                                background-color: $azulBebehover;

                            }

                        }

                        .contact{

                            display: none;
                            background-color: $branco;
                            border: 1px solid $verdePrincipal;
                            fill: $verdePrincipal;
                            color: $verdePrincipal;
                            font-size: $fs12;
                            transition: .3s;
                            text-decoration: none;
                            text-align: center;
                            padding: 12px 16px;
                            width: 100%;
                            max-width: 160px;
                            border-radius: 3px;


                            &:hover{

                                background-color: $verdePrincipal;
                                border: none;
                                fill: $branco;
                                color: $branco;

                            }

                        }
                    }
                }

                img{

                    //width: 100%;
                    //max-width: 230px;
                    height: 100%;
                    max-height: 150px;

                }

                &:hover{

                    border: 1px solid $verdePrincipal;
                }

            }

        }

        .pagination{

            display: flex;
            justify-content: center;
            gap: 20px;

        }
    }

    .mapa{

        display: flex;
        flex-direction: column;
        align-items: center;
        padding: 20px;

        #map {
            height: 640px;
            width: 100%;
        }
    }
}

@media only screen and (max-width: 770px) {

    .searchField{

        .mobileBusca{

            display: flex;

        }

        #formPesquisa{

            position: absolute;
            display: none;
            background-color:  rgba($preto, 0.5);
            width: 100%;
            height: 100%;
            justify-content: center;
            align-items: center;
            visibility: visible;
            backdrop-filter: blur(3px);
            z-index: 15;
            top: 0;
            gap: 0;
            padding: 10px 0;

            .linha{

                background-color: $branco;
                width: 90%;
                padding: 15px;
                flex-direction: column;


                &:first-child{

                    border-radius: 10px 10px 0 0;

                }

                &:last-child{

                    border-radius:0 0 10px 10px ;

                }


                .lg{

                    max-width: 100%;
                }

                .md{

                    max-width: 100%;
                }

                .sm{

                    max-width: 100%;
                }
            }

        }
    }

    .resultados{

        flex-direction: column-reverse;

        .resultados-pesquisa{

            width: 100%;
            max-width: 100%;
            padding: 20px;
            overflow: hidden;
            height: 100%;

            .breadcrumb{

                display: flex;
                flex-direction: column;
                gap: 20px;
                width: 100%;
                align-items: center;
                color: $branco;

            }

            .lista-resultados{

                display: flex;
                flex-direction: row;
                gap: 40px 4%;
                padding: 0;
                flex-wrap: wrap;

                .produto{

                    padding: 15px;
                    border-radius: 26px;
                    transition: .3s;
                    max-width: 48%;
                    flex-direction: column;
                    height: 500px;
                    justify-content: space-between;

                    .info{

                        .produtoHeader{

                            h3{

                                font-size: $fs12;
                            }

                            .codes{

                                .sku{

                                    width: 100%;
                                    font-size: $fs10;
                                }
                            }
                        }

                        .produtoInfo{

                            display: flex;
                            flex-direction: column;
                        }

                        .actions{

                            flex-direction: column;

                            form{

                                width: 100%;

                            }

                            .half{

                                width: 100%;

                            }

                            .seeProduct{

                                width: 100%;
                                max-width: 100%;
                                font-size: $fs10;

                            }

                            .addCote{

                                width: 100%;
                                max-width: 100%;
                                font-size: $fs10;
                            }
                        }
                    }

                    .thumbnail{

                        width: 150px;
                        height: 150px;
                    }

                    &:hover{

                        border: 1px solid $verdePrincipal;
                    }

                }

                .site{

                    height: 480px ;
                    justify-content: center;
                    gap: 20px;

                    .siteHeader{

                        h3{

                            font-size: $fs16;
                            font-weight: 600;
                            color: $preto;
                            text-transform: uppercase;
                        }

                    }

                    .info{

                        flex-direction: column;
                        align-items: center;

                        .imagensProdutos{

                            overflow: scroll;


                            li{
                                .thumbnail{

                                    border-radius: 50%;

                                }
                            }

                            .swiper-container{

                                max-width: 100%;
                                align-self: center;

                                .swiper-pagination{

                                    display: none;
                                }

                                .swiper-wrapper{

                                    width: 100%;
                                    max-width: 250px;

                                    .swiper-slide-active{

                                        display: flex !important;

                                    }

                                    .swiper-slide{

                                        display: none;
                                        padding-left: 0;
                                    }
                                }
                            }
                        }

                        .imgDestaque{

                            width: 100%;

                            .imagensProdutos{

                                display: flex;
                                gap: 150px;
                                justify-content: space-between;
                                padding: 0;
                                width: 150px;
                                overflow: hidden;

                                /**
                                flex-direction: column;
                                text-align: center;
                                gap: 20px;
                                width: 100%;
                                max-width: 300px;
                                justify-content: center;
                                height: 100%;
                                */

                                .thumbnail{

                                    width: 150px;
                                    height: 150px;
                                    background-position: center;
                                    background-size: cover;
                                    background-repeat: no-repeat;

                                }

                            }

                            .pre-btn, .nxt-btn{

                                img{

                                    display: none;
                                }
                            }

                            .slide{

                                overflow-x: auto;

                                .bloco-img{

                                    width: 200px;
                                    height: 200px;
                                    display: flex;
                                    flex-direction: column;
                                    background-color: $branco;
                                    align-items: center;
                                    justify-content: space-between;

                                    .thumbnail{

                                        width: 200px;
                                        height: 200px;
                                        background-size: cover;
                                        background-position: center;
                                        background-repeat: no-repeat;

                                    }
                                }
                            }

                        }

                        .actions{

                            flex-direction: column;

                            .seeProduct{

                                max-width: 100%;

                            }

                            .contact{

                                max-width: 100%;

                            }
                        }
                    }

                    img{

                        height: 100%;
                        max-height: 150px;

                    }

                    &:hover{

                        border: 1px solid $verdePrincipal;
                    }
                }
            }

            .pagination{

                display: flex;
                justify-content: center;
                gap: 20px;

            }
        }

        .mapa{

            padding: 20px;
            width: 100%;
            max-width: 100%;

            #map {
                height: 500px;
                width: 100%;
            }
        }
    }
}
