@import "../../variaveis.scss";

.home{

    gap: 50px;

    .swiper{

        width: 100%;

        .link-carrosel{

            display: block;
            width: 100%;
            height: 100%;

            .img-carrosel{

                width: 100%;
                height: 450px;
                object-fit: cover;
            }
        }
    }

    .sobre{

        width: 100%;
        display: flex;
        flex-direction: column;
        gap: 20px;

        .sobre-cabecalho{

            text-align: center;
            display: flex;
            flex-direction: column;
            gap: 15px;

            h1{

                font-size: $fs40;
                font-weight: 700;
                color: $preto;

                .verde{

                    font-size: $fs40;
                    font-weight: 700;
                    color: $verdePrincipal;
                }

            }

            h2{

                font-size: $fs26;
                font-weight: 400;
                color: $preto;

            }

            span{

                font-size: $fs16;
                font-weight: 400;
                color: $preto;
            }

            a{

                font-size: $fs16;
                font-weight: 500;
                color: $roxoLink;
                text-decoration: none;

                span{

                    text-decoration: underline;
                    color: $roxoLink;
                    font-weight: 700;
                }
            }
        }

    }

    .etapas{

        display: flex;
        flex-direction: column;
        width: 100%;
        gap: 10px;

        h1{

            text-align: center;
            font-size: $fs40;
        }

        .descricao{

            text-align: center;
            font-size: $fs16;
            font-weight: 400;
            color: $preto;
        }

        .bloco-etapas{

            display: flex;
            flex-wrap: wrap;
            justify-content: center;
            gap: 20px;

            .etapa{

                display: flex;
                flex-direction: column;
                align-items: center;
                width: 100%;
                max-width: 20%;
                min-width: 250px;

                .etapa-numero {

                    opacity: 0;
                    transform: translateY(-20px);
                    transition: opacity 0.5s ease-out, transform 0.5s ease-out;
                    background-color: $verdePrincipal;
                    border-radius: 50%;
                    padding: 10px;
                    width: 40px;
                    text-align: center;
                    color: $branco;
                    font-weight: 700;
                    position: relative;

                    &:after {
                        content: '';
                        display: block;
                        width: 2px;
                        height: 20px;
                        background-color: $verdePrincipal;
                        position: absolute;
                        left: 50%;
                        transform: translateX(-50%);
                        bottom: -20px;
                    }
                }

                .etapa-descricao {


                    opacity: 0;
                    transform: translateY(-20px);
                    transition: opacity 0.5s ease-out, transform 0.5s ease-out;
                    width: 100%;
                    border-radius: 10px;
                    margin-top: 20px;
                    background-color: $cinzaClaro;
                    box-shadow: 0 7px 7px -4px rgba( $preto ,.57);
                    padding: 20px;
                    height: 100%;
                    display: flex;
                    align-items: center;
                    justify-content: center;

                    h3 {
                        color: $preto;
                        text-align: center;
                        font-size: $fs24;
                        font-weight: 600;
                    }

                    p {
                        color: $preto;
                        text-align: center;
                        font-size: $fs16;
                        font-weight: 400;
                    }

                }

                .etapa-numero.show, .etapa-descricao.show {
                    opacity: 1;
                    transform: translateY(0);
                }
            }
        }
    }

    .vitrine-tutorial{

        display: flex;
        flex-wrap: wrap;
        justify-content: center;

        h1{

            font-size: $fs40;
            font-weight: 700;
            width: 100%;
            text-align: center;
        }

        .vitrine{

            display: flex;
            justify-content: center;
            width: 50%;

            .imagem-vitrine{

                width: 100%;
                max-width: 500px;
                height: 100%;
                object-fit: cover;
            }

        }

        .tutoriais{

            display: flex;
            flex-direction: column;
            gap: 20px;
            align-self: center;
            width: 50%;
            align-items: center;

            iframe{

                max-width: 100%;
            }

            .btn-tutoriais{

                border: 1px solid $verdePrincipal;
                color: $verdePrincipal;
                padding: 10px;
                border-radius: 10px;
                transition: .3s;
                width: 300px;
                max-width: 100%;
                text-align: center;
                text-decoration: none;

                &:hover{
                    background-color: $verdePrincipal;
                    color: $branco;
                }
            }
        }
    }

    .ver-empresas{

        width: 100%;
        display: flex;
        align-items: center;
        border-radius: 20px;
        background-color: $cinzaClaro;
        flex-wrap: wrap;
        justify-content: center;
        gap: 20px;

        .bloco-mapa{

            width: 40%;
            display: flex;
            flex-direction: column;
            gap: 10px;
            border-radius: 20px;
            background-size: cover;
            background-position: center;
            background-repeat: no-repeat;
            padding: 30px;

            .busca-geral{

                width: 100%;
                border-radius: 20px;
                display: flex;
                flex-direction: column;
                justify-content: space-between;
                gap: 20px;
                background-color: rgba($branco, 0.95);
                padding: 20px;

                h2{

                    font-size: $fs30;
                    color: $preto;
                    font-weight: 700;
                }

                h3{

                    color: $preto;
                    font-size: $fs20;
                    font-weight: 700;
                }

                .grupo{

                    width: 100%;

                    input, select{

                        width: 100%;
                        padding: 10px;
                        border-radius: 10px;
                        box-shadow: 0 5px 5px -4px rgba( $preto ,.3);
                        border: none;

                        &:focus-visible, &:focus{

                            outline: none;
                        }
                    }
                }

                .btn-busca{

                    color: $verdePrincipal;
                    border: 1px solid $verdePrincipal;
                    background-color: $branco;
                    font-size: $fs18;
                    padding: 8px 16px;
                    transition: .3s;
                    border-radius: 10px;

                    &:hover{
                        background-color: $verdePrincipal;
                        color: $branco;
                    }
                }

            }

        }

        .textos{

            display: flex;
            flex-direction: column;
            width: 40%;
            justify-content: space-evenly;
            height: 100%;
            background-color: $branco;
            border-radius: 20px;
            padding: 20px;
            gap: 30px;
            box-shadow: 0 7px 7px -4px rgba( $preto ,.57);

            h1{

                font-size: $fs40;
                font-weight: 700;
                color: $preto;
                text-align: center;
            }

            p{

                font-size: $fs14;
                color: $preto;
                line-height: 1.25;
                font-weight: 500;
            }

            a{

                color: $verdePrincipal;
                border: 1px solid $verdePrincipal;
                font-size: $fs18;
                padding: 8px 16px;
                font-weight: 700;
                text-decoration: none;
                border-radius: 8px;
                width: 100%;
                max-width: 220px;
                text-align: center;
                transition: .3s;

                &:hover{
                    background-color: $verdePrincipal;
                    color: $branco;
                }
            }
        }

    }
}


@media only screen and (max-width: 770px) {

    .home{

        .sobre{

            width: 100%;
            display: flex;
            flex-direction: column;
            gap: 20px;

            .sobre-cabecalho{

                text-align: center;
                display: flex;
                flex-direction: column;
                gap: 15px;

                h1{

                    font-size: $fs40;
                    font-weight: 700;
                    color: $preto;

                    .verde{

                        font-size: $fs40;
                        font-weight: 700;
                        color: $verdePrincipal;
                    }

                }

                h2{

                    font-size: $fs26;
                    font-weight: 400;
                    color: $preto;

                }

                span{

                    font-size: $fs16;
                    font-weight: 400;
                    color: $preto;
                }

                a{

                    font-size: $fs16;
                    font-weight: 500;
                    color: $roxoLink;
                    text-decoration: none;

                    span{

                        text-decoration: underline;
                        color: $roxoLink;
                        font-weight: 700;
                    }
                }
            }

        }

        .etapas{

            display: flex;
            flex-direction: column;
            width: 100%;
            gap: 10px;

            h1{

                text-align: center;
                font-size: $fs40;
                font-weight: 700;
            }

            .descricao{

                text-align: center;
                font-size: $fs16;
                font-weight: 400;
                color: $preto;
            }

            .bloco-etapas{

                display: flex;
                flex-wrap: wrap;
                justify-content: center;
                gap: 20px;

                .etapa{

                    display: flex;
                    flex-direction: column;
                    align-items: center;
                    width: 100%;
                    max-width: 20%;
                    min-width: 250px;

                    .etapa-numero {

                        opacity: 0;
                        transform: translateY(-20px);
                        transition: opacity 0.5s ease-out, transform 0.5s ease-out;
                        background-color: $verdePrincipal;
                        border-radius: 50%;
                        padding: 10px;
                        width: 40px;
                        text-align: center;
                        color: $branco;
                        font-weight: 700;
                        position: relative;

                        &:after {
                            content: '';
                            display: block;
                            width: 2px;
                            height: 20px;
                            background-color: $verdePrincipal;
                            position: absolute;
                            left: 50%;
                            transform: translateX(-50%);
                            bottom: -20px;
                        }
                    }

                    .etapa-descricao {


                        opacity: 0;
                        transform: translateY(-20px);
                        transition: opacity 0.5s ease-out, transform 0.5s ease-out;
                        width: 100%;
                        border-radius: 10px;
                        margin-top: 20px;
                        background-color: $cinzaClaro;
                        box-shadow: 0 7px 7px -4px rgba( $preto ,.57);
                        padding: 20px;

                        h3 {
                            color: $preto;
                            text-align: center;
                            font-size: $fs24;
                            font-weight: 600;
                        }

                        p {
                            color: $preto;
                            text-align: center;
                            font-size: $fs16;
                            font-weight: 400;
                        }

                    }

                    .etapa-numero.show, .etapa-descricao.show {
                        opacity: 1;
                        transform: translateY(0);
                    }
                }
            }
        }

        .vitrine-tutorial{

            width: 100%;

            .vitrine{

                width: 100%;

            }

            .tutoriais{

                width: 100%;

            }
        }

        .ver-empresas{

            .bloco-mapa{

                width: 100%;
            }

            .textos{

                width: 100%;
                align-items: center;

            }
        }
    }
}
