@import "../../variaveis.scss";

.sobre-nos{

    display: flex;
    flex-direction: column;
    width: 100%;
    max-width: 1024px;
    gap: 20px;

    .filtro-padrao{

        width: 100%;
        display: flex;

        .filtro-opcoes{

            width: 100%;
            max-width: 60%;
            align-self: center;
            display: flex;
            flex-direction: column;
            gap: 20px;

            .texto-filtro{

                h1{

                    font-size: $fs38;
                    color: $preto;
                    font-weight: 700;
                }

                h2{

                    font-size: $fs20;
                    font-weight: 500;
                    color: $cinza;


                    span{
                        color: $preto;
                        font-weight: bold;
                    }

                }
            }

            form{

                width: 100%;
                display: flex;
                flex-direction: column;
                gap: 20px;

                .linha{

                    display: flex;
                    width: 100%;
                    gap: 5px;
                    position: relative;
                    left: 12px;

                    .grupo{

                        width: 100%;
                        padding: 0;

                        input{

                            width: 100%;
                            max-width: 470px;
                            border: 2px solid $cinzaBorda;
                            border-radius: 25px;
                            color: $cinzaInput;
                            font-size: $fs18;
                            height: 50px;
                            margin: 0;
                            padding-left: 1rem;

                            &:focus{

                                outline: none;
                            }
                        }

                        select{

                            color: $branco;
                            background-color: $verdePrincipal;
                            width: 100%;
                            border-radius: 25px;
                            font-size: $fs18;
                            height: 50px;
                            margin: 0;
                            padding-left: 1rem;
                            border: none;

                            option{

                                background-color: $branco;
                                color: $azulTable;
                                font-size: $fs14;
                                font-weight: 700;
                                padding: 10px;
                            }

                            &:focus{

                                outline: none;
                            }
                        }
                    }

                    .lg{

                        max-width: 470px;
                    }

                    .md{

                        max-width: 232px;
                    }


                    .sm{

                        max-width: 150px;
                    }
                }

                .btn-busca{

                    background-color: $verdePrincipal;
                    color: $branco;
                    font-size: $fs22;
                    font-weight: 500;
                    border-radius: 25px;
                    padding: 8px 0;
                    width: 100%;
                    max-width: 623px;

                    svg{
                        color: $branco;
                    }

                }
            }

            .reg{

                font-size: $fs16;
                font-weight: 400;
                color: $preto;

                a{

                    text-decoration: underline;
                    font-weight: 700;

                    &:hover{

                        text-decoration: none;
                    }
                }
            }
        }

        .fundo-filtro{

            width: 100%;
            max-width: 50%;

            img{

                width: 100%;
            }
        }
    }

    .cartoes-beneficios{

        display: flex;
        padding: 0;
        justify-content: space-between;
        position: relative;
        bottom: 30px;
        width: 100%;

        li{

            text-align: center;
            background-color: $cinzaCards;
            border-radius: 12px;
            width: 100%;
            max-width: 280px;
            padding: 1.5rem!important;
            display: flex;
            flex-direction: column;
            align-items: center;
            gap: 20px;
            height: 210px;
            transition: .3s;

            img{

                width: 40px;
                height: 40px;
            }

            h3{

                font-size: $fs20;
                font-weight: 600;
                color: $preto;
            }

            p{

                font-size: $fs14;
                color: $cinza;

            }

            &:hover{

                transform: scale(1.05);
            }

        }
    }

    .sobre{

        width: 100%;
        display: flex;
        flex-direction: column;
        gap: 20px;

        .sobre-cabecalho{

            text-align: center;
            display: flex;
            flex-direction: column;
            gap: 15px;

            h1{

                font-size: $fs40;
                font-weight: 700;
                color: $preto;

                .verde{

                    font-size: $fs40;
                    font-weight: 700;
                    color: $verdePrincipal;
                }

            }

            h2{

                font-size: $fs26;
                font-weight: 400;
                color: $preto;

            }

            span{

                font-size: $fs16;
                font-weight: 400;
                color: $preto;
            }

            a{

                font-size: $fs16;
                font-weight: 500;
                color: $roxoLink;
                text-decoration: none;

                span{

                    text-decoration: underline;
                    color: $roxoLink;
                    font-weight: 700;
                }
            }
        }

        .sobre-conteudo{

            display: flex;
            align-items: center;
            gap: 25px;

            .texto{

                background-color: $verdePrincipal;
                padding: 50px 80px;
                border-radius: 32px;
                display: flex;
                flex-direction: column;
                gap: 10px;

                h3{

                    color: $branco;
                    font-size: $fs16;
                    font-weight: 700;
                }

                h1{

                    font-size: $fs40;
                    font-weight: 700;
                    color: $preto;
                }

                p{

                    font-size: $fs14;
                    color: $branco;
                    line-height: 1.25;
                    font-weight: 500;
                }

                a{

                    background-color: $preto;
                    color: $branco;
                    font-size: $fs18;
                    padding: 8px 16px;
                    font-weight: 700;
                    text-decoration: none;
                    border-radius: 8px;
                    width: 100%;
                    max-width: 220px;
                    text-align: center;
                }
            }
        }
    }

    .depoimentos{

        display: flex;
        flex-direction: column;
        gap: 20px;

        .testimonialHeader{

            display: flex;
            justify-content: space-between;
            align-items: center;

            .info{

                width: 100%;
                max-width: 800px;

                h3{

                    color: $verdePrincipal;
                    font-size: $fs16;
                    font-weight: 600;
                }

                h1{

                    color: $preto;
                    font-size: $fs40;
                    font-weight: 700;
                }
            }

            .toSide{

                color: $verdePrincipal;
                font-size: $fs16;
                font-weight: 700;
            }

        }

        .testimonialContent{

            #carouselExampleControls{

                .carousel-item{

                    width: 100%;
                    max-width: 600px;
                    display: flex;
                    gap: 20px;
                    background-color: $branco;

                    .textos{

                        img{


                        }

                        p{

                            font-size: $fs12;
                            color: $cinza;
                            margin: 30px 0;

                        }

                        h3{

                            font-size: $fs16;
                            color: $preto;
                            font-weight: 600;
                        }

                        span{

                            font-size: $fs14;
                            color: $cinza;
                            font-weight: 600;
                        }
                    }

                    .profilePhoto{

                        width: 230px;
                        height: 230px;
                        border-radius: 24px;
                    }


                }
            }
        }
    }
}

.produtos{

    width: 100%;
    background-color: $cinzaCards;
    position: relative;
    left: 0;
    padding: 50px 300px;
    margin: 20px 0;

    .bloco-carrossel{

        display: flex;
        gap: 20px;
        justify-content: space-between;

        .pre-btn, .nxt-btn{

            img{
                height: 30px;
            }
        }

        .lista-produtos{

            display: flex;
            gap: 28px;
            justify-content: space-between;
            overflow-x: hidden;
            scroll-behavior: smooth;

            .produto{

                width: 100%;
                max-width: 230px;
                display: flex;
                flex-direction: column;
                background-color: $branco;
                padding: 10px;
                align-items: center;
                justify-content: space-between;
                height: 400px;
                box-shadow: 5px 5px 5px 3px rgba( $cinzaBorda ,.3);
                border-radius: 5px;

                .thumbnail{

                    width: 200px;
                    height: 200px;
                    background-size: cover;
                    background-position: center;
                    background-repeat: no-repeat;
                }

                h3{

                    font-size: $fs16;
                    font-weight: 500;
                    color: $preto;

                }

                .actions{

                    display: flex;
                    flex-direction: column;
                    width: 100%;
                    align-items: center;
                    gap: 10px;

                    form{
                        width: 100%;
                    }

                    .btn-simples{

                        background-color: $verdePrincipal;
                        color: $branco;
                        text-decoration: none;
                        padding: 10px;
                        font-size: $fs12;
                        border-radius: 5px;
                        width: 100%;
                        max-width: 100%;
                        text-align: center;

                        &:hover{

                            background-color: $verdeLimao;

                        }
                    }
                }

            }
        }

    }

    .cabecalho-produtos{

        h3{

            font-size: $fs16;
            font-weight: 600;

            span{

                color: $verdePrincipal;
            }
        }
    }

    .produtosContent{

        .swiper-button-prev{

            position: absolute;
            left: 330px;
            color: $verdePrincipal;

        }

        .swiper-button-next{

            position: absolute;
            right: 330px;
            color: $verdePrincipal;
            border-radius: 50%;
        }

        .swiper-wrapper{

            width: 100%;

            .swiper-slide{

                display: flex ;
                justify-content: center;
                height: 400px;
                width: 400px;

                .produto{

                    width: 100%;
                    max-width: 400px;
                    box-shadow: 6px 5px 19px -5px rgba(0,0,0,0.75);
                    padding: 20px;
                    display: flex;
                    flex-direction: column;
                    align-items: center;
                    border-radius: 5px;
                    transition: .3s;
                    gap: 10px;
                    justify-content: space-between;

                    &:hover{

                        transform: scale(1.05);
                    }

                    img{

                        width: 250px;
                        height: 250px;

                    }

                    .actions{

                        display: flex;
                        justify-content: space-evenly;
                        width: 100%;

                        .btnSimples{

                            background-color: $verdePrincipal;
                            color: $branco;
                            text-decoration: none;
                            padding: 10px;
                            font-size: $fs14;
                            border-radius: 5px;
                            width: 100%;
                            max-width: 120px;
                            text-align: center;

                            &:hover{

                                background-color: $verdeLimao;

                            }
                        }
                    }
                }
            }
        }
    }
}

@media only screen and (max-width: 770px) {

    .sobre-nos{

        .filtro-padrao{

            width: 100%;
            display: flex;

            .filtro-opcoes{

                width: 100% !important;
                max-width: 100%;
                gap: 0;

                .texto-filtro{

                    background-color: rgba($branco, 0.8);
                    padding: 15px 10px;

                    h1{

                        font-size: $fs30;
                        color: $preto;
                        font-weight: 700;
                    }

                    h2{

                        font-size: $fs18;
                        font-weight: 500;
                        color: $cinza;

                        span{
                            color: $preto;
                            font-weight: bold;
                        }
                    }
                }

                form{

                    background-color: rgba($branco, 0.8);
                    padding: 15px 10px;

                    .linha{

                        width: 100%;

                        .input{

                            padding: 0;

                            input{

                                width: 100%;
                                max-width: 100%;
                                border: 2px solid $cinzaBorda;
                                border-radius: 10px;
                                color: $cinzaInput;
                                font-size: $fs18;
                                height: 50px;
                                margin: 0;
                                padding-left: 1rem;

                                &:focus{

                                    outline: none;
                                }
                            }

                            select{

                                color: $branco;
                                background-color: $verdePrincipal;
                                width: 100%;
                                border-radius: 10px;
                                font-size: $fs18;
                                height: 50px;
                                margin: 0;
                                padding-left: 1rem;
                                border: none;

                                option{

                                    background-color: $branco;
                                    color: $azulTable;
                                    font-size: $fs14;
                                    font-weight: 700;
                                    padding: 10px;
                                }

                                &:focus{

                                    outline: none;
                                }
                            }


                        }

                        .lg{

                            max-width: 100%;

                        }


                        .md{

                            max-width: 100%;

                        }


                        .sm{

                            max-width: 100%;

                        }



                    }

                    .btn-busca{

                        max-width: 100%;

                    }
                }

                .reg{

                    background-color: rgba($branco, 0.8);
                    padding: 15px 10px;
                    font-weight: 600;
                    font-size: $fs18;
                }
            }

            .background-image{

                display: none;

            }
        }

        .cartoes-beneficios{

            flex-wrap: wrap;
            padding: 20px 0;
            gap: 15px 20px;
            align-items: center;
            justify-content: center;

            li{

                box-shadow: 0 7px 7px -4px rgba($preto,.57);
                max-width: 150px;
                height: 270px;


                img{

                    width: 40px;
                    height: 45px;

                }

                h3{

                    font-size: $fs16;
                    font-weight: 600;
                    color: $preto;
                }

                p{

                    font-size: $fs12;
                    color: $cinza;

                }

            }
        }

        .sobre{

            width: 100%;
            flex-direction: column;
            padding: 0 10px;

            .sobre-cabecalho{

                text-align: center;
                display: flex;
                flex-direction: column;
                gap: 15px;

                h1{

                    font-size: $fs30;
                    font-weight: 700;
                    color: $preto;
                    text-align: justify;

                    .verde{

                        font-weight: 700;
                        color: $verdePrincipal;
                        font-size: $fs30;

                    }

                }

                h2{

                    font-size: $fs18;
                    font-weight: 400;
                    color: $preto;
                    text-align: justify;

                }

                span{

                    font-size: $fs16;
                    font-weight: 400;
                    color: $preto;
                    text-align: justify;
                }

                a{

                    font-size: $fs16;
                    font-weight: 500;
                    color: $verdePrincipal;
                    text-decoration: none;

                    span{

                        text-decoration: underline;
                        font-weight: 700;

                    }
                }
            }

            .sobre-conteudo{

                flex-direction: column;

                .texto{

                    padding: 0;
                    gap: 0;
                    border: 1px solid $preto;
                    background-color: $branco;

                    h3{

                        background-color: rgba($branco, .8);
                        padding: 15px 40px;
                        border-radius: 32px 32px 0 0;
                        color: $preto;

                    }

                    h1{

                        background-color: rgba($branco, .8);
                        color: $preto;
                        padding: 15px 40px;
                    }

                    p{

                        background-color: rgba($branco, .8);
                        padding: 15px 40px;
                        color: $preto;
                        text-align: justify;
                        font-size: $fs16;
                    }

                    a{

                        padding: 10px 16px;
                        width: 100%;
                        max-width: 100%;
                        border-radius: 0 0 32px 32px;
                        background-color: $verdePrincipal;
                    }
                }

                .background-image{

                    display: none;
                }
            }
        }

        .depoimentos{

            display: flex;
            flex-direction: column;
            gap: 20px;
            padding: 0 10px;

            .testimonialHeader{

                display: flex;
                justify-content: space-between;
                align-items: center;

                .info{

                    width: 100%;
                    max-width: 800px;

                    h3{

                        color: $verdePrincipal;
                        font-size: $fs16;
                        font-weight: 600;
                    }

                    h1{

                        color: $preto;
                        font-size: $fs40;
                        font-weight: 700;
                    }
                }

                .toSide{

                    color: $verdePrincipal;
                    font-size: $fs16;
                    font-weight: 700;
                }

            }

            .testimonialContent{

                #carouselExampleControls{

                    .carousel-item{

                        width: 100%;
                        max-width: 600px;
                        display: flex;
                        gap: 20px;
                        background-color: $branco;

                        .textos{

                            img{


                            }

                            p{

                                font-size: $fs12;
                                color: $cinza;
                                margin: 30px 0;

                            }

                            h3{

                                font-size: $fs16;
                                color: $preto;
                                font-weight: 600;
                            }

                            span{

                                font-size: $fs14;
                                color: $cinza;
                                font-weight: 600;
                            }
                        }

                        .profilePhoto{

                            width: 230px;
                            height: 230px;
                            border-radius: 24px;
                        }


                    }
                }
            }
        }

    }

    .produtos{

        display: flex;
        flex-direction: column;
        padding: 20px 30px;

        .produtosHeader{

            h3{

                font-size: $fs16;
                font-weight: 600;

                span{

                    color: $verdePrincipal;
                }
            }
        }

        .produtos{

            .bloco-produtos {

                display: flex;
                gap: 20px;

                .pre-btn, .nxt-btn {

                    img {
                        display: none;
                    }
                }

                .lista-produtos{

                    overflow: auto;
                    gap:20px;

                    .produto{

                        width: 100%;
                        max-width: 230px;
                        display: flex;
                        flex-direction: column;
                        background-color: $branco;
                        padding: 10px;
                        align-items: center;
                        justify-content: space-between;
                        height: 400px;
                        box-shadow: 5px 5px 5px 3px rgba( $cinzaBorda ,.3);
                        border-radius: 5px;

                        .thumbnail{

                            width: 200px;
                            height: 200px;
                            background-size: cover;
                            background-position: center;
                            background-repeat: no-repeat;
                        }

                        h3{

                            font-size: $fs16;
                            font-weight: 500;
                            color: $preto;
                        }

                        .actions{

                            display: flex;
                            flex-direction: column;
                            width: 100%;
                            align-items: center;
                            gap: 10px;

                            form{

                                width: 100%;
                            }

                            .btnSimples{

                                background-color: $verdePrincipal;
                                color: $branco;
                                text-decoration: none;
                                padding: 10px;
                                font-size: $fs12;
                                border-radius: 5px;
                                width: 100%;
                                max-width: 100%;
                                text-align: center;

                                &:hover{

                                    background-color: $verdeLimao;

                                }
                            }
                        }
                    }
                }
            }
        }

        .produtosContent{


            .swiper-button-next,.swiper-button-prev, .swiper-pagination{

                display: none;
            }

            .swiper-wrapper{

                width: 100%;
                gap: 50px;
                flex-direction: column;


                .swiper-slide{

                    width: 100%;
                    display: flex !important;
                    justify-content: center;
                    height: 400px;
                    max-width: 400px;

                }
            }
        }
    }
}
