
@font-face {
    font-family: 'Axiforma';
    src: url('/fonts/Axiforma-Italic.woff2') format('woff2');
    font-weight: normal;
    font-style: italic;
    font-display: swap;
  }
  
  @font-face {
    font-family: 'Axiforma';
    src: url('/fonts/Axiforma-Bold.woff2') format('woff2');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
  }
  
  @font-face {
    font-family: 'Axiforma';
    src: url('/fonts/Axiforma-BlackItalic.woff2')
      format('woff2');
    font-weight: 900;
    font-style: italic;
    font-display: swap;
  }
  
  @font-face {
    font-family: 'Axiforma';
    src: url('/fonts/Axiforma-ExtraBold.woff2') format('woff2');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
  }
  
  @font-face {
    font-family: 'Axiforma';
    src: url('/fonts/Axiforma-Regular.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
  }
  
  @font-face {
    font-family: 'Axiforma';
    src: url('/fonts/Axiforma-LightItalic.woff2')
      format('woff2');
    font-weight: 300;
    font-style: italic;
    font-display: swap;
  }
  
  @font-face {
    font-family: 'Axiforma';
    src: url('/fonts/Axiforma-Light.woff2') format('woff2');
    font-weight: 300;
    font-style: normal;
    font-display: swap;
  }
  
  @font-face {
    font-family: 'Axiforma';
    src: url('/fonts/Axiforma-BoldItalic.woff2') format('woff2');
    font-weight: bold;
    font-style: italic;
    font-display: swap;
  }
  
  @font-face {
    font-family: 'Axiforma';
    src: url('/fonts/Axiforma-Black.woff2') format('woff2');
    font-weight: 900;
    font-style: normal;
    font-display: swap;
  }
  
  @font-face {
    font-family: 'Axiforma Book';
    src: url('/fonts/Axiforma-BookItalic.woff2') format('woff2');
    font-weight: 300;
    font-style: italic;
    font-display: swap;
  }
  
  @font-face {
    font-family: 'Axiforma';
    src: url('/fonts/Axiforma-Medium.woff2') format('woff2');
    font-weight: 500;
    font-style: normal;
    font-display: swap;
  }
  
  @font-face {
    font-family: 'Axiforma';
    src: url('/fonts/Axiforma-MediumItalic.woff2')
      format('woff2');
    font-weight: 500;
    font-style: italic;
    font-display: swap;
  }
  
  @font-face {
    font-family: 'Axiforma Book';
    src: url('/fonts/Axiforma-Book.woff2') format('woff2');
    font-weight: 300;
    font-style: normal;
    font-display: swap;
  }
  
  @font-face {
    font-family: 'Axiforma';
    src: url('/fonts/Axiforma-ExtraBoldItalic.woff2')
      format('woff2');
    font-weight: bold;
    font-style: italic;
    font-display: swap;
  }
  
  @font-face {
    font-family: 'Axiforma';
    src: url('/fonts/Axiforma-SemiBold.woff2') format('woff2');
    font-weight: 600;
    font-style: normal;
    font-display: swap;
  }
  
  @font-face {
    font-family: 'Axiforma';
    src: url('/fonts/Axiforma-SemiBoldItalic.woff2')
      format('woff2');
    font-weight: 600;
    font-style: italic;
    font-display: swap;
  }