@import "../variaveis.scss";

footer{

    display: flex !important;
    width: 100%;
    justify-content: center;
    bottom: 0;
    left: 0;
    height: 10vh;
    position: absolute;

    .rodape {

        display: flex;
        width: 80vw;
        flex-wrap: wrap;
        gap: 40px 0;
        align-items: center;
        justify-content: space-between;

        .bloco-rodape{

            display: flex;
            width: 100%;
            max-width: 30%;
            justify-content: center;

            &:first-child{

                justify-content: flex-start;

            }

            &:last-child{

                justify-content: flex-end;

            }

            ul{

                display: flex;
                gap: 10px;
                padding: 0;
                margin: 0;

                .link{

                    a{

                        color: $preto;
                        font-weight: 600;
                        font-size: $fs16;
                        text-decoration: none;
                    }
                }

                .icons {

                    width: 100%;

                    img{

                        width: 30px;
                        height: 30px;

                    }
                }
            }

            .copy{

                color: $cinza;
                font-size: $fs14;
                font-weight: 400;

            }

            .lista-icones{

                .icones{

                    a{

                        img{

                            width: 50px;
                        }
                    }
                }
            }
        }

    }
}

@media only screen and (max-width: 768px) {

    footer{

        .bloco-rodape{

            text-align: center;
            max-width: 100% !important;

            &:first-child{

                justify-content: center;

            }

            &:last-child{

                justify-content: center;

            }

            ul{

                width: 100%;
                justify-content: space-around;
                align-items: center;
                padding: 10px 0;

                li{

                    display: flex;
                    justify-content: center;

                }

                .icons{

                    img{

                        width: 30px;
                        height: 30px;
                    }
                }
            }

            .coluna{

                flex-direction: column;
            }

            .copy{

                font-size: $fs12;
                width: 100%;
                display: flex;
                justify-content: center;
            }
        }

    }
}
