@import "../variaveis.scss";

header{

    display: flex !important;
    justify-content: center;
    width: 100vw !important;
    overflow-x: hidden;
    place-items: center;
    height: 100%;

    .menu {

        display: flex;
        justify-content: space-between;
        align-items: center;
        height: 10vh;
        width: 80vw;
        padding: 10px 0;

        .logo {
            font-size: 24px;
            text-transform: uppercase;
            letter-spacing: 4px;
        }

        .nav-list {

            display: flex;
            list-style: none;
            z-index: 100;
            gap: 20px;
            padding: 10px 0;

            li {
                letter-spacing: 3px;
                margin-left: 32px;

                a {
                    color: $cinza;
                    text-decoration: none;
                    transition: 0.3s;
                    font-size: $fs16;
                    padding: 5px 10px;
                    width: 100%;
                    display: flex;
                    justify-content: center;

                    &:hover {
                        opacity: 0.7;
                        color: $preto;
                    }
                }

                .btn-experimentar {
                    background-color: $roxo;
                    color: $branco;
                    border-radius: 10px;
                    margin-left: 20px;
                }

                .btn-entrar {
                    color: $verdePrincipal;

                    &:hover {
                        color: $verdeLimao;
                    }
                }

                &.dropdown {

                    position: relative;

                    .dropbtn {
                        display: flex;
                        justify-content: center;
                        align-items: center;
                    }

                    .dropdown-content {

                        display: none;
                        position: fixed;
                        background-color: $branco;
                        min-width: 200px;
                        box-shadow: 0px 8px 16px 0px rgba($preto,0.5);
                        z-index: 1;

                        a {
                            color: $preto;
                            padding: 12px 16px;
                            text-decoration: none;
                            display: block;
                            text-align: left;

                            &:hover {

                                background-color: $verdePrincipal;
                                color: $branco;
                            }
                        }
                    }

                    &:hover .dropdown-content {
                        display: block;
                    }
                }
            }
        }

        .mobile-menu {
            display: none;
            cursor: pointer;

            div {
                width: 32px;
                height: 3px;
                background-color: $verdePrincipal;
                margin: 8px;
                transition: 0.3s;
            }
        }
    }

    @keyframes navLinkFade {
        from {
            opacity: 0;
            transform: translateX(50px);
        }
        to {
            opacity: 1;
            transform: translateX(0);
        }
    }
}

@media only screen and (max-width: 780px) {

    .menu{

        .mobile-menu {

            display: block !important;

            div{

                background-color: $verdePrincipal !important;
            }
        }

        a {

            color: $branco;
        }

        .nav-list {

            position: fixed;
            top: 10vh;
            right: 0;
            width: 70vw;
            height: 92vh;
            background-color: $verdePrincipal;
            flex-direction: column;
            align-items: center;
            justify-content: space-around;
            transform: translateX(100%);
            opacity: 0;
            transition: transform 0.3s ease-in;
            border-radius: 0 0 0 100px;

            li {

                margin-left: 0;
                opacity: 0;
                text-align: center;

                a, .btn-entrar, .btn-experimentar{

                    color: $branco !important;
                    background-color: $verdePrincipal !important;
                    margin-left: 0 !important;
                }

                .dropdown-content{

                    position: relative !important;
                    box-shadow: none !important;
                    background-color: transparent !important;

                    a{

                        text-align: center !important;
                    }
                }
            }
        }

        .nav-list.active {

            display: flex;
            transform: translateX(0);
            opacity: 1;

            .line1 {
                transform: rotate(-45deg) translate(-8px, 8px);
            }

            .line2 {
                opacity: 0;
            }

            .line3 {
                transform: rotate(45deg) translate(-5px, -7px);
            }
        }
    }
}

