@import "../../variaveis.scss";

.finalizar-cadastro-body{

    .finalizar-cadastro{

        display: flex;

        .welcome{

            display: flex;
            width: 600px;
            align-items: center;
            gap: 20px;
            justify-content: flex-end;

            .name{

                color: $verdePrincipal;
                font-size: $fs30;
                font-weight: 600;

            }

            img{

                width: 30px;
                height: 30px;
            }
        }

    }

    .bloco-cadastro{

        width: 100%;
        max-width: 100%;
        display: flex;
        padding:25px 0;
        justify-content: center;

        .formulario{

            width: 100%;
            max-width: 94%;
            display: flex;
            flex-direction: column;
            gap: 20px;

            .secao{

                display: flex;
                gap: 10px;
                flex-direction: column;

                h1{

                    font-size: $fs40;
                    font-weight: 700;
                    color: $preto;

                    span{

                        color: $verdePrincipal;
                        text-decoration: underline;
                    }
                }

                h2{

                    font-size: $fs26;
                    font-weight: 700;
                    color: $preto;
                }

                .linha{

                    display: flex;
                    gap: 20px;
                    width: 100%;
                    justify-content: flex-start;

                    .grupo{

                        align-items: center;
                        display: flex;
                        flex-direction: column;
                        width: 100%;
                        max-width: 300px;

                        #cnaeContainer{

                            display: flex;
                            flex-direction: column;
                            gap: 10px;
                            width: 100%;
                            padding-top: 10px;

                            .linha-cnae{

                                display: flex;
                                justify-content: space-between;
                                width: 100%;
                                max-width: 500px;

                                .dado{

                                    background-color: $verdePrincipal;
                                    color: $branco;
                                    font-size: $fs14;
                                    padding: 8px 15px;
                                    border-radius: 5px;
                                    width: 100%;
                                    max-width: 340px;

                                }

                                .removerButton{

                                    background-color: $vermelhoEscuro;
                                    color: $branco;
                                    padding: 8px 10px;
                                    font-size: $fs16;
                                    font-weight: 700;
                                    border-radius: 5px;
                                    text-decoration: none;
                                    align-self: center;

                                    &:hover{

                                        transform: scale(1.05);
                                    }
                                }
                            }
                        }

                        .campos{

                            display: flex;
                            align-items: center;
                            width: 100%;
                            gap: 20px;

                            .inputField{

                                display: flex;
                                flex-direction: column;
                                gap: 10px;
                                width: 100%;
                            }

                            .addCnae{

                                width: 100%;
                                color: $verdePrincipal;
                                font-weight: 600;
                                align-items: flex-end;
                                display: flex;
                                height: 100%;

                            }

                            .md{

                                width: 100%;
                                max-width: 546px;
                            }
                        }

                        label{

                            font-size: $fs14;
                            font-weight: 600;
                            width: 100%;
                        }

                        input, select{

                            height: 40px;
                            border: 1.5px solid $cinza ;
                            border-radius: 0.5rem;
                            width: 100%;
                            padding: 0 10px;
                            outline: none;

                        }
                    }

                    .check{

                        align-items: flex-start;

                        input{

                            width: 40px;
                        }
                    }

                    .xlg{

                        width: 100%;
                        max-width: 1150px;
                    }

                    .lg{

                        width: 100%;
                        max-width: 720px;
                    }

                    .md{

                        width: 100%;
                        max-width: 570px;
                    }

                    .sm{

                        width: 100%;
                        max-width: 275px;
                    }
                }

                .linhaFinal{

                    justify-content: space-between !important;

                    .botoes{

                        width: 100%;
                        max-width: 35%;
                        display: flex;
                        gap: 20px;

                        button,a{

                            width: 200px;
                            height: 56px;
                            border-radius: 0.75rem;
                            padding: 13px 50px;
                            transition: 0.3s;
                            text-align: center;
                            font-size: $fs20;
                            font-weight: 600;
                            text-decoration: none;
                        }

                        .inactive{

                            background-color: $cinzaEscuro;
                            color: $branco;

                        }

                        .fishReg{

                            background-color: $verdePrincipal;
                            color: $branco;

                            &:hover{

                                background-color: $verdeLimao;
                            }
                        }
                    }
                }

            }
        }
    }
}

@media only screen and (max-width: 770px) {

    .finalizar-cadastro-body{

        .finalizarCadastro{

            flex-direction: column;
            gap: 20px;
            padding: 10px 0;

            .welcome{

                width: 100%;
                max-width: 100%;
                justify-content: flex-start;
                align-items: baseline;

                .name{

                    text-transform: capitalize;
                }

                img{

                    width: 30px;
                    height: 30px;
                }
            }

        }

        .bloco-cadastro{

            padding:5px 0;

            .formulario{

                width: 100%;
                max-width: 94%;
                display: flex;
                flex-direction: column;
                gap: 30px;

                .secao{

                    h1{

                        font-size: $fs24;

                        span{

                            color: $verdePrincipal;
                            text-decoration: underline;
                        }
                    }

                    h2{

                        font-size: $fs18;
                        font-weight: 700;
                        color: $preto;
                    }

                    .linha{

                        display: flex;
                        gap: 20px;
                        width: 100%;
                        justify-content: flex-start;

                        .grupo{

                            max-width: 100%;

                            #cnaeContainer{

                                .linha-cnae{

                                    max-width: 100%;
                                    gap: 15px;

                                }
                            }

                            .campos{

                                flex-direction: column;

                                .md{

                                    width: 100%;
                                }
                            }
                        }

                        .check{

                            align-items: flex-start;

                            input{

                                width: 40px;
                            }
                        }
                        .xlg{

                            width: 100%;
                            max-width: 100% !important;

                        }

                        .lg{

                            width: 100%;
                            max-width: 100% !important;

                        }

                        .md{

                            width: 100%;
                            max-width: 100% !important;

                        }

                        .sm{

                            width: 100%;
                            max-width: 100% !important;

                        }
                    }

                    .linhaFinal{

                        justify-content: space-between !important;


                        .botoes{

                            max-width: 100% !important;
                            flex-direction: column;
                            display: flex;
                            gap: 20px;

                            button,a{

                                width: 100% !important;
                                max-width: 100% !important;
                            }

                            .inactive{

                                background-color: $cinzaEscuro;
                                color: $branco;
                            }

                            .fishReg{

                                background-color: $verdePrincipal;
                                color: $branco;

                                &:hover{

                                    background-color: $verdeLimao;
                                }
                            }
                        }
                    }
                }
            }
        }
    }
}
