@import "../../variaveis.scss";

.finalizar-cadastro{

    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: space-between;

    header{

        display: flex;
        width: 80vw !important;
        justify-content: space-between;
        height: 10vh;

        .bloco-nome{

            display: flex;
            width: 600px;
            align-items: center;
            gap: 20px;
            justify-content: flex-end;

            .nome{

                color: $verdePrincipal;
                font-size: $fs20;
                font-weight: 600;

            }

            img{

                width: 30px;
                height: 30px;
            }
        }
    }

    .bloco-cadastro{

        width: 50vw;
        display: flex;
        padding:25px 0;
        justify-content: center;

        .formulario{

            width: 100%;
            display: flex;
            flex-direction: column;
            gap: 20px;
            align-items: center;

            h1{

                font-size: $fs40;
                font-weight: 700;
                color: $preto;
                text-align: center;

                span{

                    color: $verdePrincipal;
                    text-decoration: underline;
                }
            }

            .secao{

                display: none;
                transition: all 0.3s ease-in-out;
                gap: 30px;
                flex-wrap: wrap;
                padding: 20px;
                border-radius: 20px;
                box-shadow: 0 0 15px rgba(0,0,0,.2);
                width: 50vw;
                justify-content: center;

                h2{

                    font-size: $fs26;
                    font-weight: 700;
                    color: $preto;
                }

                .linha{

                    display: flex;
                    gap: 20px;
                    width: 100%;
                    justify-content: flex-start;
                    align-items: flex-end;

                    .adicionar-cnae{

                        color: $branco;
                        background-color: $verdePrincipal;
                        font-weight: 600;
                        align-items: flex-end;
                        display: flex;
                        text-decoration: none;
                        min-width: 220px;
                        border-radius: 10px;
                        justify-content: center;
                        padding: 5px;
                    }

                    .grupo{

                        align-items: center;
                        display: flex;
                        flex-direction: column;
                        width: 100%;
                        gap: 10px;

                        .campos{

                            display: flex;
                            align-items: center;
                            width: 100%;
                            gap: 20px;

                            .inputField{

                                display: flex;
                                flex-direction: column;
                                gap: 10px;
                                width: 100%;
                            }
                        }

                        label{

                            font-size: $fs14;
                            font-weight: 600;
                            width: 100%;
                        }

                        input, select{

                            height: 40px;
                            border: 1.5px solid $cinza ;
                            border-radius: 0.5rem;
                            width: 100%;
                            padding: 0 10px;
                            outline: none;
                        }
                    }

                    .check{

                        align-items: flex-start;

                        input{

                            width: 40px;
                        }
                    }
                }

                #cnaesEscolhidos{

                    display: flex;
                    flex-direction: column;
                    gap: 10px;
                    width: 100%;
                    padding-top: 10px;

                    .linha-cnae{

                        display: flex;
                        justify-content: space-between;
                        width: 100%;
                        gap: 20px;

                        .dado{

                            background-color: $verdePrincipal;
                            color: $branco;
                            font-size: $fs14;
                            padding: 8px 15px;
                            border-radius: 10px;
                            width: 100%;
                        }

                        .removerButton{

                            background-color: $vermelhoEscuro;
                            color: $branco;
                            padding: 8px 10px;
                            font-size: $fs16;
                            font-weight: 700;
                            border-radius: 10px;
                            text-decoration: none;
                            align-self: center;
                            min-width: 220px;
                            text-align: center;

                            &:hover{

                                transform: scale(1.05);
                            }
                        }
                    }
                }

                .botoes{

                    display: flex;
                    width: 100%;
                    justify-content: center;
                    gap: 20px;

                    .btn-proximo, .btn-voltar, .btn-fin{

                        background-color: $verdePrincipal;
                        color: $branco;
                        border: none;
                        padding: 10px 20px;
                        border-radius: 8px;
                        cursor: pointer;
                        margin: 10px 5px;
                        transition: .3s;
                        width: 40%;

                        &:hover{

                            background-color: $verdeLimao;
                        }
                    }
                }
            }

            .active {
                display: block;
            }
        }
    }

}
