@import "../../variaveis.scss";

.painel{

    display: flex;
    flex-direction: column;
    gap: 20px;
    width: 90vw;
    justify-content: center;

    .nome{

        font-size: $fs20;
        color: $preto;
    }

    .dados-fabrica{

        display: flex;
        flex-direction: column;
        gap: 20px;

        .uso{

            h2{

                font-size: $fs20;
                color: $preto;
            }
        }

        .dados{

            display: flex;
            flex-wrap: wrap;
            gap: 20px;
            align-items: center;

            .dado{

                display: flex;
                padding: 20px;
                gap: 20px;
                flex-direction: column;
                box-shadow: 0 7px 7px -4px rgba( $preto ,.57);
                flex-basis: calc(33.333% - 20px);
                max-width: calc(33.333% - 20px);

                .label{

                    font-size: $fs16;
                    color: $preto;
                    font-weight: 600;
                    text-align: center;
                }

                .conteudo-dados{

                    display: flex;
                    align-items: center;
                    gap: 20px;

                    .icone{

                        height: 80px;

                    }
                }
            }
        }
    }
}
