@import "../../variaveis.scss";

.bloco-categoria{

    width: 100vw;
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;

    .bloco-formulario{

        box-shadow: -1px 0 7px 1px rgba(0,0,0,.3);
        border-radius: 42px;
        display: flex;
        flex-direction: column;
        width: 80vw;
        gap: 20px;
        padding: 25px;

        .formulario{

            display: flex;
            flex-direction: column;
            gap: 10px;

            .linha{

                display: flex;
                gap: calc((100% - (4 * 250px)) / 3);

                .grupo{

                    display: flex;
                    flex-direction: column;
                    flex: 1 1 250px;

                    input, select, textarea {
                        height: 40px;
                        border: 1.5px solid $cinza;
                        border-radius: 0.5rem;
                        width: 100%;
                        outline: none;
                        padding: 4px 10px;
                    }
                }

            }
        }

        .botoes{

            width: 100%;
            display: flex;
            justify-content: flex-end;
            gap: 10px;

            button{

                padding: 10px;
                border: none;
                border-radius: 10px;
                font-size: $fs16;
                font-weight: 700;
            }

            .btn-salvar{

                background-color: $verdePrincipal;
                color: $branco;
            }

            .btn-deletar{

                background-color: $vermelhoEscuro;
                color: $branco;
            }
        }

        .excluir-categoria{

            display: none;
        }
    }

}
