@import "../../variaveis.scss";

.criar-categoria{

    display: flex;
    justify-content: center;
    padding: 0 50px;
    width: 90vw;
    align-self: flex-end;

    .formulario{

        box-shadow: -1px 0 7px 1px rgba(0,0,0,.3);
        padding: 24px 0;
        border-radius: 42px;
        display: flex;
        flex-direction: column;
        width: 80vw;

        .cabecalho{

            padding-left: 2%;
        }

        .linha {

            display: flex;
            flex-wrap: wrap;
            gap: 20px;
            align-items: flex-end;
            padding: 20px;

            .grupo {
                display: flex;
                flex-direction: column;
                gap: 10px;
                flex: 1 1 calc(30% - 20px); // Preenche o máximo possível e mantém o espaço entre os grupos

                label {
                    font-size: $fs14;
                    font-weight: 600;
                    width: 100%;
                }

                input, select, textarea {
                    height: 40px;
                    border: 1.5px solid $cinza;
                    border-radius: 0.5rem;
                    width: 100%;
                    outline: none;
                }
            }

            .botoes{

                display: flex;
                width: 100%;
                justify-content: flex-end;

                .btn-cadastrar{

                    padding: 8px 24px;
                    background-color: $verdePrincipal;
                    color: $branco;
                    font-size: $fs14;
                    width: 100%;
                    max-width: 170px;
                    text-align: center;
                    border-radius: 0.3rem;
                    border: none;

                    &:hover {
                        background-color: $verdeLimao;
                    }
                }

            }
        }
    }
}

@media only screen and (max-width: 770px) {

    .criar-categoria{

        .formulario{

            .linha {

                .grupo {
                    flex: 1 1 calc(100% - 20px);
                }
            }
        }
    }
}


@media only screen and (max-width: 425px) {

    .criar-categoria{

        .formulario{

            .cabecalho{

                padding-left: 0;
                text-align: center;
            }
        }
    }
}
