@import "../../variaveis.scss";

.listar-categorias{

    width: 100vw;
    display: flex;
    justify-content: center;

    .bloco-categorias{

        width: 80vw;
        display: flex;
        flex-direction: column;
        gap: 20px;

        .cabecalho{

            display: flex;
            gap: 10px;
            align-items: flex-end;

            h4{

                font-size: $fs16;
                font-weight: 600;
            }

            h1{

                font-size: $fs28;
                font-weight: 700;
            }
        }

        .pesquisa{

            display: flex;
            width: 100%;
            gap: 20px;

            input, select{

                border: none;
                border-radius: 10px;
                padding: 10px;
                box-shadow: -1px 0 7px 1px rgba($preto,.3);
                width: 100%;
            }

            select{

                max-width: 200px;
            }

            .adicionar-categoria{

                border: 1px solid $verdePrincipal;
                color: $verdePrincipal;
                font-size: $fs20;
                padding: 10px;
                text-decoration: none;
                width: 100%;
                max-width: 200px;
                text-align: center;
                border-radius: 10px;
                transition: .3s;

                &:hover{

                    background-color: $verdePrincipal;
                    color: $branco;

                }
            }
        }

        .categorias{

            display: flex;
            flex-wrap: wrap;
            gap: calc((100% - (5 * 250px)) / 4);

            .categoria{

                flex: 1 1 250px; // Ajuste o valor 200px para a largura desejada dos produtos
                max-width: 250px; // Ajuste o valor 200px para a largura desejada dos produtos
                box-sizing: border-box;
                display: flex;
                border-radius: 10px;
                box-shadow: -1px 0 7px 1px rgba($preto,.3);
                text-decoration: none;
                color: $preto;
                height: auto;
                padding: 5px;
                justify-content: center;
                align-items: center;
                text-align: center;
                transition: .3s;

                &:hover{

                    background-color: $verdePrincipal;
                    color: $branco;
                    transform: scale(1.05);
                }
            }
        }
    }
}
