@import "../../variaveis.scss";

.dashboard{

    display: flex;
    justify-content: center;
    width: 100%;
    flex-direction: column;
    gap: 50px;
    align-items: center;

    .notificacoes{

        width: 100%;
        max-width: 90%;

        .alert{

            width: 100%;
            background: linear-gradient(45deg, $azulGradEscuro, $azulGradClaro);
            display: flex;
            justify-content: space-between;
            align-items: center;


            p{

                color: $branco;
                display: flex;
                gap: 30px;
                align-items: center;

                img{

                    width: 50px;
                }
            }

            .btnAlert{

                background-color: $branco;
                text-decoration: none;
                color: $azulGradClaro;
                font-weight: 700;
                padding: 8px 35px;
                border-radius: 10px;
                transition: .3s;


                &:hover{

                    background-color: $azulGradClaro;
                    color: $branco;
                    border: 1.5px solid $branco;
                }
            }


        }
    }

    .contador{

        width: 100%;
        max-width: 90%;
        display: flex;
        flex-direction: column;
        gap: 20px;

        .nameLogged{


        }

        .listaViews{

            width: 100%;
            padding: 0;
            display: flex;
            justify-content: space-between;

            li{

                background: linear-gradient(45deg,  $verdeStatus, $verdePrincipal);
                width: 380px;
                padding: 25px;
                border-radius: 20px;
                display: flex;
                flex-direction: column;
                gap: 15px;

                h4{

                    font-size: $fs22;
                    font-weight: 600;
                    color: $cinzaInput;
                }

                .info{

                    display: flex;
                    justify-content: space-between;

                    .label{

                        font-size: $fs24;
                        color: $cinza;
                        display: flex;
                        align-items: center;
                    }

                    .value{

                        font-size: $fs65;
                        display: flex;
                        font-weight: 900;
                        align-items: center;


                        img{

                            width: 30px;
                        }
                    }



                }

                .comparacao{

                    font-size: $fs16;
                    font-weight: 400;
                    color: $cinza;
                }
            }
        }
    }

    .dadosLoja{

        border: 1px solid $cinzaBorda;
        border-radius: 20px;
        width: 100%;
        max-width: 90%;

        .headerBloco{

            border-bottom: 1px solid $cinzaBorda;
            padding: 15px 20px;

            h2{

                font-size: $fs20;
                font-weight: 800;
            }

        }

        .listaDados{

            display: flex;
            flex-wrap: wrap;
            padding: 30px 20px;
            justify-content: space-between;
            gap: 30px;


            .dado{

                border: 1px solid $cinzaBorda;
                border-radius: 20px;
                width: 100%;
                display: flex;
                justify-content: space-between;
                flex-direction: column;
                max-width: 460px;
                padding: 10px 0;
                gap: 10px;

                .label{

                    font-size: $fs18;
                    color: $cinza;
                    font-weight: 700;
                    padding: 0 20px;
                }

                .content{

                    display: flex;
                    justify-content: space-around;
                    align-items: center;
                    width: 100%;

                    .icon{

                        width: 50%;
                        display: flex;
                        justify-content: center;

                        .ico{

                            width: 50px;

                        }
                    }

                    .info{

                        display: flex;
                        flex-direction: column;
                        width: 50%;

                        .value{

                            color: $verdePrincipal;
                            font-size: $fs26;
                            text-align: center;
                            font-weight: 900;
                        }

                        .nomeProduto{

                            width: 100%;
                            color: $verdePrincipal;
                            font-size: $fs16;
                            font-weight: 900;
                        }

                        .desc{

                            font-size: $fs14;
                            font-weight: 500;
                            color: $cinza;
                        }
                    }

                }

                .rodapeDado{

                    padding-top: 10px;
                    border-top: 1px solid $cinzaBorda;
                    padding: 10px 20px 0 20px;
                    display: flex;
                    justify-content: space-between;
                    font-size: $fs14;

                    .acao{

                        color: $verdePrincipal;
                        text-decoration: none;
                        font-weight: 700;
                    }
                }
            }
        }
    }
}


@media only screen and (max-width: 770px) {

    .userArea{

        width: 100%;
        max-width: 88%;
    }

    .dashboard{

        .notificacoes{

            .alert{

                flex-direction: column;
                gap: 10px;

                p{

                    font-size: $fs14;

                    img{

                        width: 50px;
                    }
                }
            }
        }

        .contador{

            display: none;
        }

        .dadosLoja{

            .listaDados{

                .dado{

                    max-width: 100%;

                    .content{

                        flex-direction: column;
                        gap: 20px;

                        .info{

                            .value{

                                font-size: $fs26;
                            }
                        }
                    }

                    .rodapeDado{

                        flex-direction: column;
                        align-items: center;
                        font-size: $fs12;
                        gap: 20px;
                        text-align: center;
                    }
                }
            }
        }
    }
}
