@import "../../variaveis.scss";

.configura-site {

    .bloco-imagens {

        padding: 15px;
        display: flex;
        flex-direction: column;
        gap: 40px;
        box-shadow: 0 7px 7px -4px rgba($preto, .57);

        h1 {
            width: 100%;
            text-align: center;
        }

        h3 {
            font-size: $fs14;
        }

        .linha {
            display: flex;
            gap: 20px;
        }

        .btn-editar-imagem {

            background-color: $verdePrincipal;
            border: none;
            padding: 10px;
            border-radius: 5px;
            position: absolute;
            top: 3vh;
            left: 1vw;
            font-weight: 700;
            transition: .3s;

            &:hover{
                transform: scale(1.05);
            }
        }

        .bloco-banner {
            position: relative;
            width: 100%;

            .banner-site {
                display: flex;
                flex-direction: column;
                gap: 5px;
                width: 100%;
                box-shadow: 0 7px 7px -4px rgba($preto, .57);
                height: 100%;
            }
        }

        .bloco-logo {

            width: 20%;
            position: relative;

            .logo-site {
                display: flex;
                flex-direction: column;
                gap: 5px;
                max-width: 100%;
                max-height: 100%;
                box-shadow: 0 7px 7px -4px rgba($preto, .57);
            }
        }

        .destaques {

            display: flex;
            justify-content: space-evenly;

            .bloco-destaque {

                display: flex;
                flex-direction: column;
                gap: 5px;
                width: 100%;
                max-width: 300px;
                position: relative;

                .destaque-site {
                    width: 100%;
                    box-shadow: 0 7px 7px -4px rgba($preto, .57);
                    height: 100%;
                }
            }
        }
    }

    .formulario-atualizar-site {
        width: 100%;
        box-shadow: 0 7px 7px -4px rgba($preto, .57);
        border-radius: 0.5rem;
        border: 1px solid $cinzaBorda;
        position: relative;

        .cabecalho-formulario {
            padding: 10px;
            color: $preto;
            border-radius: 0.5rem 0.5rem 0 0;
        }

        .conteudo-formulario {
            .bloco {
                display: flex;
                flex-direction: column;
                gap: 20px;
                padding: 25px;

                .linha {
                    display: flex;
                    flex-wrap: wrap;
                }

                .grupo-dias {
                    align-items: center;
                    display: flex;
                    width: 100%;
                    gap: 10px;
                    flex-direction: column;

                    .horarios {
                        display: flex;
                        width: 100%;
                        gap: 10px;
                        align-items: center;

                        .dia {
                            display: flex;
                            gap: 10px;
                            width: 100%;
                            max-width: 150px;
                        }

                        label {
                            font-size: $fs14;
                            font-weight: 600;
                            width: 100%;
                        }

                        input {
                            height: 40px;
                            border: 1.5px solid $cinza;
                            border-radius: 0.5rem;
                            width: 100%;
                            outline: none;
                        }

                        input[type="checkbox"] {
                            height: 20px;
                            width: 20px;
                        }
                    }
                }

                .grupo {
                    align-items: center;
                    display: flex;
                    flex-direction: column;
                    width: 100%;
                    gap: 10px;

                    label {
                        font-size: $fs14;
                        font-weight: 600;
                        width: 100%;
                    }

                    input, textarea, select {
                        height: 40px;
                        border: 1.5px solid $cinza;
                        border-radius: 0.5rem;
                        width: 100%;
                        outline: none;
                    }
                }

                .botoes {
                    display: flex;
                    justify-content: center;
                    gap: 20px;

                    .btn-anterior, .botao-salvar, .btn-proximo {
                        background-color: $verdePrincipal;
                        color: $branco;
                        padding: 10px;
                        border-radius: 0.5rem;
                        cursor: pointer;
                        transition: 0.3s;
                        border: none;
                        width: 100%;
                        max-width: 50%;

                        &:hover {
                            background-color: $verdeLimao;
                        }
                    }
                }
            }
        }

        .btn-acessar {
            position: absolute;
            text-decoration: none;
            top: 10px;
            right: 10px;
            background-color: $verdePrincipal;
            color: $branco;
            padding: 10px;
            border-radius: 0.5rem;
            cursor: pointer;
            transition: 0.3s;
            border: none;

            &:hover {
                background-color: $verdeLimao;
            }
        }
    }

    @media only screen and (max-width: 768px) {
        .bloco-imagens {
            gap: 20px;

            .linha {
                flex-direction: column;
                gap: 10px;
            }

            .bloco-logo {
                width: 100%;
            }

            .destaques {
                flex-direction: column;
                gap: 20px;
            }
        }

        .formulario-atualizar-site {
            .conteudo-formulario {
                .bloco {
                    padding: 15px;

                    .linha {
                        flex-direction: column;
                        gap: 10px;
                    }
                }
            }

            .botoes {
                flex-direction: column;
                gap: 10px;
            }
        }
    }
}
